[2017-03-31 18:26] djmitche opened #1 "MacOS X Hardware Workers for Gecko"
Support running tasks (at least test tasks, and possibly build tasks) on releng hardware in the datacenter, running OS X.

This will involve running `generic-worker` on the hardware systems, along with supporting infrastructure such as PuppetAgain for installation and a way to get TC credentials onto the host.

[2017-03-31 18:31] djmitche opened #2 "Windows 7 and 10 Hardware Workers for Gecko"
Production gecko tasks (including talos, gpu, clipboard) need to run on Windows hardware in the datacenter.

This will involve getting generic-worker working on the hardware, plus surrounding infrastructure such as installation, configuration, and taskcluster credentials.

[2017-03-31 18:33] djmitche opened #3 "Linux64 Hardware for Gecko"
Production gecko linux64 talos tasks should be running on (new) hardware under Ubuntu 16.04.

This will require Ubuntu 16.04 support from the relops team, followed by work to install a worker (generic- or taskcluster-worker), along with all of the supporting infrastructure.

[2017-03-31 18:34] djmitche opened #4 "All libraries, services, and workers are fully documented on the docs site"
At completion, the docs site has full reference documentation for all of the services, libraries, etc. that we produce.

This involves ensuring that everything is using tc-lib-docs and writing additional documentation where ncessary.

Tracking progress at: https://public.etherpad-mozilla.org/p/move-to-lib-docs-entirely

[2017-03-31 18:35] djmitche opened #5 "Navigation of Tasks and Task Groups better suited to users' needs"
_When you visit tools.taskcluster.net, what are the most common things you are trying to accomplish? If I could help you find out something more immediately upon your visit, what would that be?_

These changes are dependent on work being done in #24.

Suggestions for improving the navigation should be focused on linking to particular pieces of information within the inspectors that otherwise could

[2017-03-31 18:38] djmitche opened #6 "Functional loaner process for Windows"
To support debugging tests for the migration, devs often need loaners to see the issues "live".

This should be something functional for users -- not necessarily fully functional or at feature-parity with docker-worker.

* Windows - https://bugzilla.mozilla.org/show_bug.cgi?id=1353311

[2017-03-31 18:40] djmitche opened #7 "New Artifact API"
Implement new interfaces to task artifacts to support
 * multi-part uploads
 * better guarantees of content integrity

[2017-03-31 18:47] djmitche opened #8 "JSON-e"
JSON-e is a language for parameterizing data structures. It should be the standard way that TaskCluster tasks are generated from templates (replacing rudimentary text substitution in YAML or JSON files).

https://github.com/taskcluster/json-e

This involves both implementing JSON-e itself, and deploying it for use in a bunch of contexts:

* JS implementation
  * TC-Github's .taskcluster.yml
  * Mo

[2017-03-31 18:54] djmitche opened #9 "Switch to Auth0 for authentication, stop providing authentication to other services"
We currently do a poor job of providing authentication to other services, notably treeherder.  We do a swell job of providing authorization, though!  Let's reposition ourselves so that we provide a really awesome mechanism for API access control that is usable both by API implementers and API users.  We are already pretty awesome for API implementers, so this idea only changes the situation for AP

[2017-03-31 18:54] djmitche commented on #9
@garbas is interested in working on this, too.

[2017-03-31 19:06] djmitche opened #10 "Deploy taskcluster-worker to replace generic-worker"
This entails making taskcluster-worker "production ready" by getting it to feature parity with generic-worker, debugging it until it is stable, and cleaning up documentation, monitoring, and so on.  Then, deploy tc-worker everywhere generic-worker is deployed, carefully migrating tasks from generic-worker payloads to taskcluster-worker payloads.

[2017-03-31 19:13] djmitche opened #11 "Support QEMU in taskcluster-worker"
Build support for running tasks in QEMU in taskcluster-worker.

This may require setting up a packet.net provisioner?

[2017-03-31 19:14] djmitche commented on #11
It's not clear to me what this would lead to - loaners need to be the same as the image "normal" (non-loaner) tasks run in, so a QEMU loaner alone doesn't help much, and running all tasks in QEMU is a much bigger project.

[2017-03-31 19:50] djmitche opened #12 "help"

[2017-03-31 20:02] djmitche opened #13 "taskcluster-standalone"
Create a means of deploying a second copy of taskcluster for staging or development purposes

[2017-03-31 20:04] djmitche opened #14 "public pool of mac and windows workers"
Create the ability for arbitrary github repos to run tasks on macs and windows in addition to linux

[2017-03-31 20:05] djmitche opened #15 "Deploy a distinct provisioner for releng/gecko"
Help releng spin up an AWS provisioner to support Gecko CI and release tasks, independent of the provisioner we use for our own and github-related tasks

[2017-03-31 20:06] djmitche opened #16 "Github-related roles on login"
When users login with a github(-associated) account, they should get scopes accorded to the repos to which they have access.

[2017-03-31 20:07] djmitche opened #17 "Decision task support for non-gecko projects"
Create a way for projects other than Gecko to get started with a decision-task process.  This should be written in such a way that projects can take it and expand on it as they see fit.

[2017-03-31 20:08] djmitche opened #18 "Unify handling of credentials in command-line tools"
tc-cli, tc-client, tc-client-go, and tc-client.py all handle credentials a little differently -- env vars, on-disk files, etc.  Let's make them all behave the same.

[2017-03-31 20:09] djmitche opened #19 "Store references / schemas on docs.tc.n"
We currently upload API references to references.tc.n, schemas to schemas.tc.n, and docs to docs.tc.n.  The former two are optionally served over HTTP. Let's unify that all into one site, docs.taskcluster.net, and make the clients all pull from there.

[2017-03-31 20:10] djmitche opened #20 "Finish deploying taskcluster-pulse"
TC-Pulse is nearly ready, but needs a bit more legwork to put it into production and use it from other taskcluster services.

[2017-03-31 20:12] djmitche opened #21 "taskcluster-livelog-proxy in production"
This is a proxy to allow access to workers that are not otherwise publicly accessible. It replaces the existing dns-based solution that gets live logs via public IPs of EC2 instances

[2017-04-01 14:46] ckousik commented on #21
consider using yamux for multiplexing requests from proxy to worker.
https://github.com/ckousik/yaup.git can upgrade an HTTP/1.1 connection to yamux, and I plan on adding TLS support.

[2017-04-03 20:24] djmitche commented on #9
I'm exploring [the Server + Client API](https://auth0.com/docs/architecture-scenarios/application/server-api) quick-start as it seems to be a good option.

Fooling around was here: https://github.com/taskcluster/taskcluster-login/compare/master...djmitche:auth0api.  Open questions:
* does the user always have to re-auth to get the api access_token?
* if my app wants to use the auth0 profile *and*

[2017-04-04 09:57] garbas commented on #9
I would also invite @srfraser since he has more experience with Auth0

[2017-04-04 17:48] djmitche opened #22 "Track the list of worker types"
Problems:
 * Worker payload schemas are not validated on submission, but only when tasks start up.  Users would like immediate feedback when creating a task.  The universe of payload schemas is large, since taskcluster-worker schemas depend on the worker's configuration.
 * There's no comprehensive list of workerTypes -- there's the AWS provisioner, but lots of workers aren't provisioned.  This wo

[2017-04-04 17:49] djmitche commented on #22
Per discussion with @imbstack @jonasfj @petemoore.  @jhford, you may also be interested?

[2017-04-04 18:08] jonasfj commented on #22
We don't guard things by `assume:` scopes unless modifying a resource/entity that assumes this role..
It would better to use `queue:define-worker-type:<provisionerId>/<workerType>` or just `queue:worker-type:<provisionerId>/<workerType>`

[2017-04-04 18:11] djmitche commented on #22
We guard `claimTask` with that assume scope - that's where I copied it from..

[2017-04-04 20:06] djmitche commented on #9
So what I've been working on is the auth0 API authentication model.  Concretely, my plan has been this:
 * client sends the user to https://mozilla.auth0.com/authorize with appropriate parameters to request an access token for the taskcluster credentials API
 * the client uses that access_token to connect to https://login.taskcluster.net/v1/credentials or something of that sort, and gets back a se

[2017-04-04 20:11] djmitche opened #23 "Check for authorization without returning a full set of expanded scopes"
We currently authenticate API requests by calling `auth.authenticateHawk` and passing information about the request.  The response contains the full set of scopes corresponding to the provided Hawk credentials.

This can get large and inefficient.

The vaguely discussed alternative is to pass a scopeset to the Auth service, and let it reply with a simple "yes" or "no" (with the "no" response conta

[2017-04-04 20:11] djmitche commented on #23
@jonasfj @imbstack if you want to add any of your thoughts here..

[2017-04-04 21:43] srfraser commented on #9
The Python API makes further calls to the userinfo_uri when needing more data about a user, is that the call that's not working for you?

https://github.com/puiterwijk/flask-oidc/blob/master/flask_oidc/__init__.py#L240

where the userinfo_uri is specified in https://auth.mozilla.auth0.com/.well-known/openid-configuration

[2017-04-04 21:59] djmitche commented on #9
That's equivalent -- I think -- to what I was trying to do here:
https://github.com/taskcluster/taskcluster-login/compare/master...djmitche:auth0api#diff-e6a5b42b2f7a26c840607370aed5301aR199
[code]

and I was getting 401 errors, regardless of the clientId I supplied.  I suspect that in the flask_oidc code you point to, the fact of bearing the access_token entitles the caller to the user informatio

[2017-04-04 22:16] srfraser commented on #9
I'm guessing you've already tried the variant mentioned at https://auth0.com/docs/libraries/auth0js/v8#extract-the-authresult-and-get-user-info  ?

[2017-04-05 13:22] djmitche commented on #9
I think so?  I think that's the equivalent of `let accessToken = req.headers.authorization.split(' ')[1];` (the code here is server-side, so there's no `window.location.hash` to parse).  But maybe I should be using the id token instead of the access token?  I find auth0's documentation to be at once awesome (there's a lot of it) and maddening (there's a lot of it, and it's not in any linear order,

[2017-04-05 13:24] djmitche commented on #9
Ah, I think the difference is, in that case, the auth0 instance was initialized with the *client's* credentials (domain and clientID). Hmm. OK, I can mess with this a bit more and see what works.

[2017-04-05 15:21] eliperelman opened #24 "Decouple components from routing mechanisms"
In order support deep linking of components in UIs, we need to decouple these components from the URL used to access them. This will allow us to rearrange the interface without having to refactor the component every time.

The concrete outcome of this task will be that taskcluster-tools will have some higher-order component to glue a UI component to the URL and react-router.

[2017-04-05 15:26] eliperelman opened #25 "Determine workflow for creating reusable React components"
Create and document the workflow for generating React components that are decoupled from the application they can be embedded in. Using this mechanism, it should be possible to create a repository with one or more React components that can be displayed in a generic web application, and then published to npm, without application-specific knowledge.

[2017-04-05 15:31] eliperelman opened #26 "Unify the theme of taskcluster-tools and taskcluster-docs"
In order to support a single entrypoint into TaskCluster (e.g. TCaas), the interfaces of tools and docs should be complementary. Mock up a theme which unifies the interfaces.

<sup>Implementation of this theme will happen in another issue.</sup>

[2017-04-05 15:33] eliperelman opened #27 "Migrate unified-logviewer to a standalone React component"
To relieve some CORS and hosting issues, the Unified Logviewer needs to move away from being hosted in an iframe on GitHub pages, and into a standalone React component that can be imported into the relevant application. Depends on #25.

[2017-04-05 15:37] eliperelman opened #28 "Improve mobile support"
Right now several web interfaces have poor mobile support or don't work at all:

- Unified Logviewer
- taskcluster-tools navigation
- taskcluster-tools layout
- taskcluster-docs navigation sub-menu

Improve these mobile experiences to work as expected.

[2017-04-05 16:55] djmitche commented on #5
@eliperelman fyi

[2017-04-05 16:55] djmitche commented on #1
Not an RFC

[2017-04-05 16:55] #1 closed

[2017-04-05 16:55] djmitche commented on #2
Not an RFC

[2017-04-05 16:55] #2 closed

[2017-04-05 16:55] djmitche commented on #3
Not an RFC

[2017-04-05 16:55] #3 closed

[2017-04-05 16:59] djmitche commented on #7
Does this also include "go library + cli for taskcluster-artifacts"

[2017-04-05 17:03] gregarndt commented on #7
It should yes.  The "work needed" checklist I added was just to play around with the markdown lists and show an example. @jhford will need to fill in the description of this issue with the goal, work needed to be done to accomplish it, etc. so it can be marked as approved and slated to work on for this quarter.

[2017-04-05 17:05] djmitche commented on #7
ah, ok

[2017-04-05 17:07] djmitche opened #29 "Split artifacts into their own service"
From the 2017q2 etherpad:
 * have that service use the copying infrastructure of cloud-mirror to manage all artifacts
 * use this in the queue to provide the existing apis

[2017-04-05 17:07] djmitche opened #30 "Improve the index model"
..so that we can move it into platform and integrate a little more tightly with queue

[2017-04-05 17:08] djmitche commented on #30
@jonasf can you fill in some detail here?  What sort of improvements?  Links to etherpads are fine :)

[2017-04-05 17:41] djmitche opened #31 "generic provisioner with pluggable backends"
We are looking forward to provisioning instances on other cloud-computing providers.  It would be nice to have a shared front-end (queue monitoring, configuration, etc.) with provider-specific backends.

[2017-04-05 17:42] djmitche commented on #29
This may be related to, or part of, #7.

[2017-04-05 17:46] djmitche commented on #15
Perhaps another way to look at this is as creating a "tenant" for Gecko.

[2017-04-05 17:49] djmitche opened #32 "Platform-agnostic taskclusterProxy support"
The taskcluster proxy functionality has proven to be quite valuable.  However, it's only available on docker-based workers.

We should define a simple, consistent way to access this kind of functionality -- that is generic enough to use any service at any URL, and be usable on any of our supported platforms.  Then we can document the taskclusterProxy once, and users can access it consistently rega

[2017-04-05 17:51] djmitche opened #33 "Recording and indexing task metadata"
@gregarndt  has found it very useful to be able to do historical analyses of tasks using metadata about the workers that ran a task, task start/end time, tags, and so on.  When this data is stored seprately from the queue and indexed in such a way that it can be queried quickly, it can answer lots of interesting questions.

[2017-04-05 17:53] djmitche opened #34 "Audit logging"
We need a secure, reliable means of knowing when certain events happened -- authentication-related events, for example.

[2017-04-05 17:54] djmitche opened #35 "Structured Logging"
Papertrail is OK, but it's difficult to filter the huge mass of logging to find the necessary information.

A structured logging system would allow much more precise queries than just string matching.

[2017-04-05 17:54] djmitche commented on #35
@jhford has made a good start on this in taskcluster-lib-log and aws-provisioner, but we currently don't have any way to *view* the structured logs.

[2017-04-05 17:56] djmitche opened #36 "Support for "tiny" (but fast) artifacts"
Add a "TinyArtifact" -- store up to 4KB of of arbitrary data directly in the azure artifact entity.

[2017-04-05 18:01] djmitche opened #37 "Pluggable service credentials service"
We currently provide SAS, sentry, signalfx, and S3 credentials via the Auth service, and Pulse credentials via the Pulse service.  The S3 credentials are a little limited (by IAM roles).

It would probably make a lot more sense to consolidate all of those means of trading TC credentials for some other service's credentials into a single service that is *not* the Auth service.  And make it pluggabl

[2017-04-05 18:03] djmitche opened #38 "Make taskcluster-docs a custom gitbook"

[2017-04-05 18:03] djmitche commented on #38
@eliperelman can you say more about this?

[2017-04-05 18:40] djmitche opened #39 "Build a taskcluster homepage"
What the heck is taskcluster? We often answer this by sending users to https://docs.taskcluster.net, which isn't the most informative.

This will be particularly critical once we figure out what taskcluster is :) (TCaaS)

[2017-04-05 18:40] djmitche opened #40 "generic taskcluster developer build dashboard"

[2017-04-05 18:41] djmitche commented on #40
@petemoore I'm guessing this was your suggestion.  Can you say more?

[2017-04-05 18:42] eliperelman commented on #39
This will also depend on and be informed by #26.

[2017-04-05 18:43] eliperelman commented on #38
Instead of rolling our own completely custom build process, theming, searching, etc. we can probably theme a custom gitbook for docs.

[2017-04-05 18:44] eliperelman commented on #38
This would cut down on our need to maintain the current docs build process.

[2017-04-05 18:47] djmitche opened #41 "More secure loaner process"
At the moment, anyone with a link to a loaner task and permission to read the loaner artifacts can connect.  Users who create a loaner task probably expect that only *they* can login to the loaner, and might do things like put their SSH private key on it.  let's make loaners specific to the user who created them.

---

Proposal: when creating a loaner, create a private key and stick it in the brow

[2017-04-05 18:49] djmitche opened #42 "Replace mozilla-taskcluster"
Mozilla-taskcluster is old and crusty.  It still does retriggers, but those will soon be implemented as action tasks. At that point, it is little more than a pulse listener and task creator.  In fact, it's less than that -- mozilla-taskcluster polls for changes instead of listening to pulse.

The whole thing could likely be replaced with a hook and, once hooks can listen to pulse messages (which r

[2017-04-05 18:50] djmitche opened #43 "Get rid of tc-vcs completely"
We no longer use tc-vcs for Gecko, but there are a few stragglers still using it.  We have hooks set up to re-generate it periodically, and sometimes those fail.  Let's get rid of it.

[2017-04-05 18:51] djmitche opened #44 "Get rid of gaia-taskcluster"
This tool is currently supporting docker-worker CI.  Once that use is removed, it can be disabled completely.

[2017-04-05 19:00] djmitche opened #45 "Multi-tenancy"
If TC is a service, then accounts (tenants) need some additional isolation from one another:
 * accounts can only see "their own" resources
 * one account can't accidentally use resources from another account (e.g., workers)
 * "root" on an account doesn't give "root" on all accounts - they act as a simple additional layer of access control
 * we can easily calculate and limit costs per account, a

[2017-04-05 19:08] djmitche opened #46 "Faster task cancellation support"
We used to support task cancellation by listening for pulse messages in each worker.  This put a huge load on Pulse due to the high number of connections, so we stopped using that approach.

We need a way to support cancellations, though!

[2017-04-05 19:09] djmitche commented on #46
@jonasfj I have a vague memory of you having a solution in mind for this..

[2017-04-05 20:56] escapewindow commented on #22
For scriptworker, we do most of the strict task definition schema checking at the script level.  We could have part of the scriptworker.yaml config point at a jsonschema file though.

How long lived would `queue.declareWorkerType` be?  To avoid collisions, I randomize part of the workerType for scriptworker integration tests.

We may want to separate the task definition schema (which is often impl

[2017-04-05 21:07] djmitche commented on #22
If you wanted to, you could just provide an "anything" schema -- you'd lose early validation by the queue, but for scriptworker maybe that's not a big deal.

The declaration lifetime would be specified as a payload parameter.  So I think integration tests would probably specify 1 minute or whatever time was comfortably long enough for the test to complete.

WorkerType has a few meanings, but it's

[2017-04-06 02:37] jonasfj commented on #46
We already support this...workers call `queue.reclaimTask`. If the task has been:
 * cancelled,
 * deadline expired, or,
 * takenUntil expired.

The `queue.reclaimTask` request will return `409` which signals to the worker that it should:
 * stop working on the task,
 * discard any and all results computed so far, and,
 * not report the task status.

We currently reclaim every 15-20 minutes (taken

[2017-04-06 02:58] djmitche commented on #46
Ah, ok, I wonder why this was in the backlog etherpad then: "Add support for task cancellations since removing Pulse from workers".  Anyway, awesome :)

[2017-04-06 02:58] #46 closed

[2017-04-06 02:58] djmitche commented on #46
..which is to say, I agree with your assessment that faster cancellation is not worth additional load.

[2017-04-06 03:22] jonasfj commented on #41
Thoughts:
 * loaners need not be super secure (don't upload your SSH keys, this is wrong in so many ways)
 * being able to share a loaner, by sending a link to a coworker and asking why ... happens is useful.
 * hiding loaners from treeherder largely prevents accidentally hijacking of loaners
 * protecting resources with scopes is consistent
 * publishing resources from worker through artifacts is

[2017-04-06 03:24] jonasfj commented on #32
we are adding this in `taskcluster-worker` I think a best-effort at keeping consistent between different engines in `taskcluster-worker` is the best we can do...

Granted I fear that in `taskcluster-worker` it might be `http://localhost:8080/proxy/` on some engines and `http://taskcluster/proxy/` on others...

[2017-04-06 03:29] jonasfj commented on #29
I'm not convinced of this yet. I think we would end up with weird cyclic service dependency relationship.
Or we would risk complicated conventions.. Possibly both.

But we do need a discussion of how to make cloud-mirror less generic, and/or how it integrates with taskcluster-queue. I don't think the answers are obvious that we'll need to outline a few ideas before we have good one.

Also I don't

[2017-04-06 03:32] jonasfj commented on #22
I as a general recommendation, it probably makes sense to do that anyways. It's always preferable to be declarative whenever possible.

[2017-04-06 03:33] jonasfj commented on #19
This requires us to make schema identifiers relative, instead of absolute urls...

[2017-04-06 03:35] jonasfj commented on #11
Short-term use case is being able to run `docker` so we can get rid of the horrible `docker-in-docker` hack, which doesn't support image hashes (because it's a very old docker image).

Also we could likely use to support some platforms... for some tests. And for sure it would attractive as a self-serve option for rust/servo/etc.. that wants windows machines and loaners.

[2017-04-06 12:36] djmitche commented on #41
I'm worried that more subtle things will happen, too.  For example, it would be easy to build a pulse listener and login automatically and immediately to every loaner to add a keylogger or trojan the compiler.  So not only should people not upload SSH keys, but they should not type anything secret, nor trust any of the binaries that come out of the loaner.

Your suggestions to use scopes would ame

[2017-04-06 12:37] djmitche commented on #32
On the assumption that everything ends up tc-w soon, that makes a lot of sense.

[2017-04-06 12:38] djmitche commented on #29
Perhaps the cloud-mirror question is handled in #7?  Or does that need a new issue?

[2017-04-06 16:52] djmitche commented on #9
The [community post](https://community.auth0.com/questions/465/api-access-to-user-information) didn't turn up much of use - it's possible to inject a little info into the jwt, using Auth0 Rules.  And there's a suggestion to use hooks to synchronize LDAP, gihtub, etc. into a local user database -- but there are not hooks defined for changes to that information, so I don't think that would work.

[2017-04-06 16:57] jonasfj commented on #23
in tc-lib-api:
[code]
Initially this can be implemented with `authenticateHawk`, later we can change add:
[code]

[2017-04-06 18:50] djmitche commented on #9
OK, I had some success after fooling around.  The critical bit was to request the `openid` scope when going to the `/authorize` endpoint.  With that, the access_token can be used with the `/userinfo` endpoint.  it remains to be seen if I can get enough claims to actually generate credentials!

[2017-04-07 16:13] petemoore commented on #40
This wasn't from me. @walac ?

[2017-04-10 20:13] djmitche opened #47 "Implement and enforce security policies"
It's easy to misconfigure scopes, and suddenly access is much more open than it should be.

In release enginereing, we've had similar problems with firewall ACLs: they're complicated, security-critical, and easy to mess up.  The solution there was https://github.com/mozilla/build-fwunit which allows us to make both positive and negative assertions about network flows, based on an analysis of the l

[2017-04-10 20:17] djmitche opened #48 "Parameterized Roles"
Parameterized roles would let us be a bit more expressive in role definitions.

Role `project-admin:%` would expand to
* `auth:create-client:project/%/*`
* `auth:reset-access-token:project/%/*`
* etc.

With the added hack that: `'project-admin:*'` -> `['auth:create-client:project/*, ...']` i.e., drop trailing slashes.  In general, the % would have to be the last character in the role.

This would

[2017-04-10 20:20] djmitche commented on #45
Note that this subsumes the "sudo" mechanism I brought up a while ago (https://bugzilla.mozilla.org/show_bug.cgi?id=1312915).  Particularly the last point ("we (taskcluster team) do not automatically have root on all accounts, although we have an auditable way to get it")

[2017-04-10 20:22] djmitche commented on #47
My work on this was at https://github.com/djmitche/build-scope-tests and https://bugzilla.mozilla.org/show_bug.cgi?id=1212039

[2017-04-10 20:25] djmitche commented on #47
In a multi-tenant situation, we would want to be able to specialize these tests per-tenant.  This would probably be best implemented as a tool of some sort that tenants could deploy on their own, with their own rules.  So it's not a "core" part of TaskCluster.

[2017-04-10 20:34] djmitche opened #49 "Queue Datamining"
TaskCluster provides very little information on tasks that are in the queue right now, or on tasks that have been completed. It's difficult to even answer simple questions like "what portion of our tasks are gecko-related?"

Let's dump task information into a good database that would allow the right kind of flexible queries to answer questions like this.

@gregarndt has a prototype of this..

[2017-04-10 20:36] djmitche opened #50 "Split provisioning into demand-estimation and instance-creation portions"
The AWS provisioner is specific to AWS, and mixes the concerns of predicting required load with bidding for and monitoring running EC2 instances. We would like to be able to support other clouds, as well as on-premises hardware, all of which have different behaviors. And we would like to be able to use more sophisticated load-prediction algorithms (machine learning, maybe?)

[2017-04-10 20:36] djmitche opened #51 "Portable decision tasks (+action tasks, +cron.yml)"
In the Gecko tree, we have a sophisticated decision task that makes the task graph.

We should provide some support for building a similar system for other projects. That should be some basic building blocks on which those projects can build, since their needs will be different from Gecko. For example, perhaps a Github repo with some basic decision-task code, and a docker image that can run it. Th

[2017-04-10 20:37] djmitche opened #52 "In-Task Metrics"
Inside tasks running on taskcluster we do a lot of steps that it would be interesting to measure. Things like "time to clone gecko", "firefox build time", or "how often do we have a clobber build". It would be convenient for task-writers to record these metrics by printing special annotations in the log, like ### BEGIN my-metric-name and ### END my-metric-name . If workers would extract such annot

[2017-04-10 20:49] gregarndt commented on #52
Another option here as far as where to stuff it is talking with the other teams within EngOps to get their perspective.  They also might already have an inhouse solution for doing this.

[2017-04-11 12:29] jhford commented on #7
A new artifact API is being implemented which will have the following advantages over the existing API:

- SHA256 validation of artifacts being uploaded -- nothing transfered to S3 will succeed if it does not match the SHA256 checksum computed before upload.  This ensures that nothing invalid gets into S3 itself.
- SHA256 metadata will be set on objects stored in S3 so that things downloading thes

[2017-04-11 12:58] djmitche commented on #7
Awesome - I'll copy that into the first comment to make it easier to find.  Thanks!

[2017-04-11 15:29] imbstack commented on #34
https://bugzilla.mozilla.org/show_bug.cgi?id=1346013

## Structured Log of authenticateHawk Requests/Responses

This is simply making a way for us to see which clients/roles/etc have been allowed to do what.

### Plan

- [x]  Find a nice log consumer that is buffers logs for some amount of time and then writes them to s3 for long-term storage. Bonus points if we can do real-time-ish queries on the

[2017-04-11 15:34] djmitche commented on #34
That last bit is #23 by the way

[2017-04-11 16:00] imbstack commented on #52
Another option that I've used before for things like this is to have another file descriptor available to the task for writing metrics in some format if they don't want to dirty up their stdout with metrics information. We could support both methods for writing metrics if we want. Other options include an http endpoint or something, but file descriptors are pretty convenient from bash etc.

[2017-04-11 16:20] djmitche commented on #52
I like the fd idea.  It's pretty easy to write to an fd from anything -- even shell.

[2017-04-11 19:36] gregarndt commented on #31
Brian, John, and Jonas....could you please meet up and discuss current proposals for having a provisioner that supports multiple vendors?  I believe there are ideas and designs floating around and I would like you 3 to tackle this to come up with some more concrete plans for what should be done.

[2017-04-11 21:16] imbstack opened #53 "Use a git repository for retrospectives"
Currently we track retrospectives in a couple ways:

1. The lightweight team internal retrospectives we sometimes do which end up in etherpads somewhere ephemeral. (get it?)
2. The heavyweight Platform Operations retrospectives in Google Docs that we've never really adopted. Now that we're not on that team anyway, it doesn't matter so much.

I propose that to replace these two processes, we have a

[2017-04-11 21:16] imbstack commented on #53
@gregarndt @djmitche thoughts on this?

[2017-04-11 21:21] djmitche commented on #53
One key change that we've made recently, that I like a lot, is not having meetings for retrospectives unless they warrant it (lots of discussion, disagreement, or need for research).

This hits a nice balance -- there's still room to discuss in the PR, and everyone can choose their level of engagement, from "don't care" to "comment on every PR".

[2017-04-11 22:18] imbstack opened #54 "Have a Final Comment Period for RFCs"
Currently RFCs hang out in this repo indefinitely and we don't have a way of specifying when a project will actually start to get worked on or to ensure that proper people have signed off on an idea. The following is a proposal to remedy that.

1. We create a new label called "Final Comment Period" or perhaps just "FCP".
2. Any RFC issues with this label attached must be emailed to the taskcluster

[2017-04-11 22:37] djmitche commented on #54
I like it in general, but a few tweaks:

Let's have three phase labels:
* P-discussion
* P-final-comment
* P-implementation

I think 48 hours is too short - I've learned the hard way that lots of people put their heads down for a few days at home and don't read their email.  I'd like a week, but could settle on 3 work days.

[2017-04-11 22:54] imbstack commented on #54
I worry that if the period is too long, this adds too much friction to working on something?

[2017-04-11 23:00] djmitche commented on #54
Let's say "at least two days - enough time for anyone surprised by the proposal or summary to speak up"?  I think that the level of potential surprise will vary by RFC, too, so the proposer can decide.

[2017-04-11 23:23] imbstack commented on #54
I worry that nobody will ever do any of this because it is too much to keep track of.

@petemoore @jhford since this period is mostly to allow you two to have time to look at and comment on things, does this general idea make sense to you? Any tweaks you'd like to see?

[2017-04-12 00:54] djmitche commented on #54
That period is also to allow folks in releng, for example, to comment -- in addition to our European bretheren.

[2017-04-12 17:25] imbstack opened #55 "Avoid needing to spawn instances individually from provisioner"
Currently we need to spawn instances individually from the provisioner because we need to drop a secret onto every instance when it starts up. This ends up causing us pain because we run into api limits and such things. I don't have a lot of background on the issue as it stands but figured we should discuss what we can do to allow us to spawn instances in groups or use ASGs.

@jhford can you fill

[2017-04-12 18:21] djmitche commented on #55
The host-secrets service currently creates temporary credentials with a role based on the reverse DNS for the IP making the request.  That requires that DNS be configured for the IP, and that the scopes afforded to a host at a particular IP be known and stable.  None of that is true in EC2.

We could potentially extend the host-secrets service to allow lookup in the provisioner by instance ID, ins

[2017-04-12 19:45] gregarndt commented on #54
I do like the flow being presented here with discussion -> final call  -> implementation, especially making it a point to announce it through the tools list.

However, as proposed, the final call phase is when we open it up to the tools list which will probably reach a larger audience than those watching this repo.  I would hope that this phase, especially with how short we're proposing to make it

[2017-04-12 19:53] imbstack commented on #54
I don't think we should shy away from making this a bit heavyweight. They are RFCs afterall.

It actually kinda encourages us to only put largish ideas in here and to think for a sec before adding them. Perhaps that's a good thing.

I agree that only sending it to the list at the very last moment doesn't seem right somehow. We'd like to get all of the voices heard early rather than late if we're g

[2017-04-12 19:54] imbstack commented on #54
And if this process ends up doubling the amount of time your idea would take anyway, perhaps it wasn't a good fit for the rfc process in the first place! Just do it and we can rollback if people don't like it?

[2017-04-12 20:03] djmitche commented on #54
I think i agree with that too.  But I also think that's about what you originally suggested, just more explicit?  I think the original suggestion was "don't surprise people with an FCP".  Your suggestion just now -- start with a small circle and broaden before going to FCP -- is probably a good way to do that, but might be too much for some cases and not enough in others (for example if the change

[2017-04-13 13:52] jhford commented on #55
the problem is that we need to be able to get credentials onto the machine in a secure way.  We do this by putting a token into the UserData, which workers read and give to the provisioner at boot in exchange for TC credentials.

I've heard back from the EC2 support that the likely cause of our issues is not the amount of requestSpotInstance calls, so this is a much lower priority thing.  They're

[2017-04-13 14:00] jhford commented on #54
We should take into account PTO.  For instance, Pete is on PTO this week and so hasn't had a chance to consider much in this repository.  I'm on PTO next week, which means that I basically not involved in setting anything of our direction for the next few quarters.

If these are big enough issues, we should be 100% certain that we've taken the time and involved the right people.  Expedience in mak

[2017-04-13 14:01] jhford commented on #53
It feels like we're using Github Issues as the new Wiki.  How about wiki.mozilla.org?

[2017-04-13 14:05] jhford commented on #50
The AWS Provisioner does not predict load at all.  Before Influx stopped working, it would use outcome of previous requests to inform future requests as to the stability of a region.

Since demand-estimation doesn't exist, the instance-creation portion is already on its own, so I think we can safely close this issue.

[2017-04-13 14:10] jhford commented on #29
@jonasfj what's the cyclical dependency here?  What's wrong with two services talking to each other?

[2017-04-13 14:10] jhford commented on #29
Why are we turning the queue into a [god object](https://en.wikipedia.org/wiki/God_object)

[2017-04-13 14:12] jhford commented on #15
Creating a new instance of the provisioner is not too difficult to do.  What we need to know is which aws account credentials to use for it and add an entry into the config.yml file as we've done for the provisioner-staging provisioner.  We also need the tools site to understand how to pick between different provisioners.

We'll also need a way to have the Taskcluster Client understand how to work

[2017-04-13 14:14] jhford commented on #49
There was also talk about instead of this, actually implementing a real Queue that is actually introspectable.

[2017-04-13 14:14] jhford commented on #36
I think we should.  I spoke with @jonasfj and he supported the idea when I did.  Is that still true?

[2017-04-13 14:15] jhford commented on #35
There's still a lot of services which use the `debug` module.  We need to stop using `debug` in any of our services.

[2017-04-13 14:15] jhford commented on #31
Can we do this after April 24th?

[2017-04-13 14:20] djmitche commented on #50
It does look at the queue lengths and do some calculations (including scalingFactor) from there.  That's what I meant by load prediction.

I think it would be useful for a packet.net provisioner for example, even though such a provisioner would not be using spot requests.

[2017-04-13 14:24] jhford opened #56 "remove the /artifacts/ endpoint from the index service"
This endpoint is a bad idea to expose and it should be removed.  Take the case where we have an index which is a 'latest' index, like `gecko.latest.mozilla-central.linux`.  If they are writing an automation tool, they might think to just get the latest browser, test and symbols package.

Now, this sounds great.  You'll make calls like:

[code]

Which seems great until you realize that in the time

[2017-04-13 14:29] jhford commented on #50
Then this is a dupe of #31

[2017-04-13 14:49] djmitche commented on #50
Hah, so it is :)

[2017-04-13 14:49] #50 closed

[2017-04-13 15:09] lissyx commented on #56
Would this kill the usecase of publishing route-based direct links to a single artifact ?

[2017-04-13 15:26] ochameau commented on #56
For someone who only cares about just one artifact package, it sounds like a useless step.
Like give me the latest xxxx nightly, which sounds like a quite common usecase.
You would force someone to have a script and could no longer just have a \<a href="">\</a> link!

As someone who had to play with multiple artifact packages, I wasn't tricked by these URLs.
I got the latest task id with similar c

[2017-04-13 15:28] jhford commented on #56
We could easily build a tool, library or service that does all these things the right way, but having an API that's broken is a bad idea.

[2017-04-13 17:00] djmitche commented on #56
I believe a number of projects put a link in the README using an index path.

I think the multiple-synchronized-downloads issue is relatively rare, compared to the single-download use-case.  We could probably address the issue with some better documentation of recommended ways to use the index (I'm mulling some work on the manual that would introduce such a page).

[2017-04-13 17:06] djmitche commented on #53
I think wikis miss the discussion portion (talk pages try to fill that gap, but I haven't ever seen them used in earnest at Mozilla).  Retrospectives map nicely to the PR process: propose, discuss, modify, agree, commit.  And that discussion is at the right level -- not yet-another-meeting, but not just a comments section.

[2017-04-13 18:16] djmitche commented on #54
I totally agree (I think eveyrone does?) - we should be taking major decisions slowly enough to make sure everyone gets to participate.  The intent of the FCP is to allow someone to speak up and say, "uh, no, that's not what I thought we decided as a group", so it just needs to be long enough for everyone to read the summary.  For major decisions, or when people who participated in the discussion

[2017-04-13 18:27] djmitche commented on #29
Should we drop this RFC?  I only copied the lines in the first comment from the etherpad, so I don't even really know what they mean :)

[2017-04-13 18:29] djmitche commented on #36
What is the benefit?

[2017-04-13 18:37] djmitche commented on #35
Why the blanket ban on `debug`?  I think there's room for debug logging (which is good in development for looking in detail at a specific thing), structured logging (which is somewhat lower-volume but good for identifying longer-term trends), and audit logging (related, but even lower-volume and higher-value, with some reliability and authenticity requirements thrown in).  Right now we don't have

[2017-04-13 21:15] djmitche opened #57 "Refresh the manual as a readable .. well, manual for taskcluster"
## Goal

The TC manual should be the "middle ground" between the tutorial (which focuses on "getting your hands dirty" without a lot of detail) and the reference (which is statements of facts).  The manual should
 - describe the organization and model of TC so that a reader can feel like they "understand" the system and can place the reference material in context
 - cover common scenarios that cro

[2017-04-13 21:20] djmitche commented on #57
If accepted, I would write this, probably over many weeks.  Have I omitted anything?  Does the organization make sense?

The idea of the three chapters is to give a detailed description of the data model at the core (from the outside), followed by a detailed description of the interfaces we expose, followed by a bunch of use cases.

My thinking is that we can add more sections to the "Using Taskcl

[2017-04-14 07:11] jonasfj commented on #36
Minor... S3 overhead disappears...
This makes it more reasonable to have a few 1kb artifacts containing
metadata..

[2017-04-14 07:18] jonasfj commented on #55
We could share the secret between multiple instances....
And then combine that with lookup of the IP. And ref count number of calls
to delete the secret from different IPs... That wouldn't even require API
change, but it would slightly lower our security level..

We could also put a special ec2-host-authorizer service in ec2 in and rely
on security groups...

[2017-04-17 14:45] djmitche commented on #6
Grenade is woring on this in the named bug, so not really an RFC.

[2017-04-17 14:45] #6 closed

[2017-04-18 21:08] jonasfj opened #58 "Add more `task.priority` levels"
Note: we currently have: `normal`, `high` (default is `normal`)

## Considerations:
 * We want to **use words for priority** (to avoid confusion like is 1 or 5 the highest priority?)
   * `lowest`, `low`, `normal`, `high`, `highest` (maybe later we add `very-low` and `very-high`)
 * We want **protect priority levels with scopes**

## Use cases:
 * Release tasks trumps all
 * Interactive loaner tas

[2017-04-18 21:10] jonasfj commented on #58
@walac, @djmitche, @escapewindow, thoughts?

Proposal #59 might remedy the scope issue... I really don't want to write all the scopes on the form `queue:priority:<provisionerId>/<workerType>/<priority>` it would be much better to use `queue:priority:<priority>` and then use the client scope-sets to decide which workerTypes the priority levels can be used in combination with.

(Note that such solut

[2017-04-18 21:33] jonasfj opened #59 "Limit combination of scopes granted to clients"
**Prerequisite:**
This proposal requires that we move from:
[code]
To:
[code]
Where `scopeSets` is condition on scopes on the form `[[a, b], [c]]` where either `a AND b` or `c` must be satisfied.

This is happening separate from this proposal (#23), but must be adopted before we can implement this proposal.

---------

This proposal is to change clients from the form `{name, scopes}` to be on the

[2017-04-18 21:36] jonasfj commented on #59
Note: I have no idea how this affects temporary credentials... Maybe they don't have scope-sets, that certainly seems like the simplest option...

Hmm.. Maybe I was too fast to say that this didn't affect roles... maybe it does... not sure.

[2017-04-18 21:43] djmitche commented on #59
The prerequisite is #23.

[2017-04-18 21:44] djmitche commented on #59
What's the benefit of this?

[2017-04-18 22:10] escapewindow commented on #58
Not 100% sold on this.  `lowest` and `highest` puts language caps on the number of priorities.  If you need to go lower or higher later, you're stuck.  We could, of course, add "higher-than-highest" or "higher-than-higher-than-highest" or "if-you-insist-on-wasting-your-time", but then it's hard to compare (which is rarer, adamantium or unobtanium)?

For example, we may have release tasks on all br

[2017-04-18 22:15] jonasfj commented on #59
**Benefits**, say for example we want per-workerType priority scoping, solution today is:
  *  `queue:priority:<provisionerId>/<workerType>/<priority>`

With this we could do:
  * `queue:priority:<priority>`
  * `queue:create-task:<provisionerId>/<workerType>`
And so Alice might be given:
[code]
Hence, Alice can create high priority tasks on `gecko-1-*` and low priority tasks on `gecko-3-*`.
If we

[2017-04-18 23:56] escapewindow commented on #58
We probably want to schedule things that are lower-than-default priority, so normal or low sounds good if we go with words.  Or perhaps in-tree we force explicit priorities, and the default can be whatever makes sense for the general non-gecko user.

I'm guessing priority is complicated a bit because we have fixed FIFO queues rather than querying ordered by priority... which prevents us from havin

[2017-04-19 21:55] gregarndt commented on #54
Like Dustin stated above, these longer term decisions about direction of TaskCluster will be determined during more meetings throughout the quarter where we can have broad participation and really work through ideas. One of the goals of RFCs, including the final comment phase, is not to fast track ideas but to be inclusive and open with our discussion.  This does mean keeping discussions alive and

[2017-04-21 19:46] djmitche commented on #59
The priority use-case, and the few others I can think of, are cases where we really want two independent dimensions of control for an action.

We can already control *dependent* dimensions.  For priority and workerTypes this might look like `queue:create-task:<provisionerId>/<workerType>/<priority>`, where the priority depends on the workerType -- you can give someone access to all priorities for

[2017-04-21 19:52] djmitche commented on #58
We've discussed "registering" queues.  Could we register the set of priority levels at that time?  Then
* most workerTypes stay pretty simple with just one priority (this also solves the default issue)
* releng can control Gecko priorities's names ("1", "2", "3", is OK, as is "try", "normal", "release", "release-faster", etc.)
* priorities will make sense for the purpose to which the workerType is

[2017-04-21 19:57] djmitche commented on #58
* you can always add a new priority level between two others

[2017-04-24 09:00] jhford commented on #56
I think that's a sign that a number of projects are doing things wrong if they're using this endpoint in their readme, and highlights that it's important that we deal with this issue.

Adding documentation does not address the underlying issue though.

If we really want this functionality, I think we should move it out of the core of taskcluster since it's clearly not a core functionality of taskc

[2017-04-24 09:02] jhford commented on #29
I don't believe so.  I still think this is something we really should do, both to improve artifact handling and also to make the queue more maintainable.

[2017-04-24 09:06] jhford commented on #35
Because structured logging provides 100% of the features of the debug module, while providing really nice tools for debugging, using the bunyan CLI tool.  Because you'd be using structured logging, you can do things like only printing out the debug statment when certain properties have a certain value.  `taskcluster-lib-log` provides the same environment variable parsing system that we have with D

[2017-04-24 09:08] jhford commented on #36
well, the S3 overhead as well as no longer needing to involve any sort of cloud-mirror or cloud front type system.  It also makes it possible to store artifacts in an atomic call to the queue which would likely make it easier for worker implementations which only need to report a couple basic things at the end of a task, e.g. a signing worker that only creates small signatures as its artifacts, or

[2017-04-24 09:11] jhford commented on #55
but IPs get reused in a way that we have no documentation.  How long do we blacklist an IP after it's gotten credentials from getting new ones?  Couldn't an attacker compromise a system, change the IP address manually to a random one which hasn't gotten credentials yet?

[2017-04-24 12:27] djmitche commented on #56
Why are they doing things wrong?

[2017-04-24 12:43] djmitche commented on #55
You can't change your IP address in EC2 -- the IPs are tied to the instance (they do some crazy IP-in-IP thing with they hypervisors bridging traffic to the VMs).

I think Jonas's suggestion is that when the provisioner spawns N instances with token acb0284 in the instance metadata, then it records N and an empty list of IPs in that provisioner secret.  Each request for the provisioner secret with

[2017-04-24 14:37] jhford commented on #56
using that endpoint.  the main identifier in that endpoint is the route.  That route is a constant that refers to a collection of artifacts identified by their name, and this endpoint allows you to use a constantly changing identifier to look up more than one artifact in the collection.

If you can identify two things from the same run in two different calls, they should have the taskid and runid

[2017-04-24 14:38] jhford commented on #56
I think a better approach would be to have a single endpoint `/artifacts/` which returns a json list of `{name: ..., url}` links which could be downloaded.

[2017-04-24 22:54] lissyx commented on #56
So, if you state `I think that's a sign that a number of projects are doing things wrong if they're using this endpoint in their readme`, what is wrong in:
 - producing artifact
 - indexing them
 - handing over index-based direct-link to the artifact for download

What should be done instead ?

[2017-04-25 16:36] djmitche commented on #53
Further to the question about wiki -- we have been using etherpad for this, but they are not very searchable and this hasn't supported discussion when we do not have a meeting.  I'm very in favor of not having a meeting for every production issue, as in many cases the timeline and next steps are already fairly well-understood right after the event.

@jhford what do you think?

[2017-04-25 20:57] jonasfj commented on #57
Maybe try making sub-sections like:
 * Tasks
   * WorkerTypes: Covering `provisionerId`/`workerType` and `task.payload` being worker specific.
   * Artifacts: Covering the fact that tasks have artifacts, logs are artifacts, redirect artifacts for live logs.
   * Controlling Tasks: Covering force scheduling and cancellation as protected by `schedulerId`
   * Dependencies: Covering how to make task

[2017-04-25 21:01] jonasfj commented on #54
I think:
 * This is too formal.
 * Time is a bad measure for when consensus is reached, it just as much a measure of fatigue.
 * People should be encouraged to make executive decisions
    * without waiting, especially when confident,
    * Often times, RFCs is a way to build consensus, or at-least gain confidence that your not wrong.
 * We need a label `out-of-ammo` for when an RFC has too few bu

[2017-04-25 21:02] jonasfj commented on #53
I would rather see them on the mana...

Or as etherpads, do these really have any value once calendar events for actions that resulted from them have expired..?

[2017-04-25 21:44] djmitche commented on #54
@jonasfj do you have an alternative proposal?

[2017-04-25 21:48] djmitche commented on #57
I like that - thanks

[2017-04-25 22:13] jonasfj commented on #54
No method :)

Someone makes a decision...

Den 25. apr. 2017 2.44 PM skrev "Dustin J. Mitchell" <
notifications@github.com>:

@jonasfj <https://github.com/jonasfj> do you have an alternative proposal?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/taskcluster/taskcluster-rfcs/issues/54#issuecomment-297174302>,
or mute the t

[2017-04-25 22:23] djmitche commented on #54
I want to clarify something in your comment: this idea is not measuring consensus with time. It's measuring consensus by asking people if consensus has been reached and giving them time to answer.

I think that someone saying "I've decided X" is also a bad measure of consensus (in the sense that it does not address consensus at all).

Instead of taking the risk of making an executive decision, I t

[2017-04-25 23:23] djmitche commented on #9
Concept is proven (https://github.com/taskcluster/taskcluster-login/pull/48).  This isn't quite ready to implement yet, but I think everyone is agreed that this is the way forward.

[2017-04-26 13:05] djmitche commented on #57
(issue description updated accordingly)

[2017-04-27 16:55] djmitche commented on #54
#57 provides an example right now.  The proposed "null process" is that I should just start writing the manual.  But that misses two important points:
 * It's not clear that I've gathered all of the feedback; and
 * At no point would I let tools-taskcluster know that the project is underway
Obviously I can wok on both of those things in an ad-hoc fashion, but that means that as a group we'll behav

[2017-04-27 17:47] jonasfj commented on #54
Fair point..

I'm just concerned with overhead, sometimes it's better to operate without
all the information. As oppose to never get started.

Okay, that went off topic. We should summarize current proposal, given
number of comments it's hard to keep up.

Den 27. apr. 2017 9.55 AM skrev "Dustin J. Mitchell" <
notifications@github.com>:

[2017-04-27 17:57] djmitche commented on #54
I'll leave that to @imbstack

[2017-04-28 00:01] imbstack commented on #4
Done!

[2017-04-28 00:01] #4 closed

[2017-04-28 01:33] imbstack commented on #54
Ok, here's my current understanding of what would be nice:

1. You add your thing here.
2. Get anybody you know will care about this on-board quickly by contacting them by whatever means you want. irc, email, @ mentions should all work well. This stage is a sanity check.
3. As early as possible, get an email out to the tools-tc list if this is going to be something more than a couple specific peop

[2017-04-28 15:16] walac commented on #58
I think we have to look at dependencies too. For example, a low priority task might be blocking a bunch of high priority tasks. This is a kind of priority inversion.

[2017-04-28 19:11] jonasfj commented on #58
We can do that client side... and maybe in some future we do it server side too. It's definitely a good thing to keep in mind.

[2017-04-28 19:13] jonasfj commented on #58
This has downsides... such as a priority level no longer existing and tasks, hence, therefore not accepted.
I guess it's no worse than the fact that workertypes change over time. But limiting serverside config is generally desirable.

[2017-04-28 19:25] jonasfj commented on #58
Options for priority:
1. We fix it as: `lowest`, `low`, `normal`, `high`, `highest`, and default to `normal` which requires no scope.
2. We allow integers as `task.priority` with >= 0 requiring no scopes, and negative priorities requiring scopes.
(In this case we might treat all numbers lower than -2 as -2 and all numbers higher than 2 as 2, but still allowing them, in some future we could then in

[2017-04-28 19:29] jonasfj commented on #58
Note:
Another downside with integers is scoping.
A scope like `queue:create-task:-999/<provisionerId>/<workerType>` implies `queue:create-task:-9/<provisionerId>/<workerType>`, but checking that is expensive...

Checking for `queue:create-task:high/<provisionerId>/<workerType>`, by testing for both `queue:create-task:high/<provisionerId>/<workerType>` and `queue:create-task:highest/<provisionerId>

[2017-05-01 20:41] djmitche commented on #58
I want to be careful that the selected solution addresses Gecko's needs, but leaves room for other projects' needs too -- is five enough levels, and are the names appropriate?  If project X needs seven levels, do all users need to adjust their priority support to accomodate the two new levels?  I think that every project will end up mapping its priorities onto whatever we provide (unless we suppor

[2017-05-02 17:14] imbstack opened #60 "Use documentationjs on libraries and publish on docs site"
This would not be to replace the longform documentation we have in READMEs and such, but I find myself going to read the code quite often, even if it is just to see what parameters can actually be passed in and such. The READMEs have a habit of getting out of date as well and perhaps we'd have better luck keeping docs that are generated from the library code updated?

It [appears that they integra

[2017-05-02 17:23] djmitche commented on #60
I like this -- I think that showing READMEs in the docs is kinda awkward.

[2017-05-03 10:53] petemoore opened #61 "Pull image_builder out of gecko, make it generic and put it in github.com/taskcluster/image_builder"
NSS currently can't upgrade [taskcluster/image_builder](https://hub.docker.com/r/taskcluster/image_builder/tags/) from version 0.1.5 to version 0.3.0 since the later versions is gecko-specific.

For this reason, it might make sense to move this into its own (generic) tool.

A disadvantage of this is it might be harder to hack on, in-tree, if you are working on gecko.

Without knowing too many deta

[2017-05-03 12:30] gregarndt commented on #61
+1 for having a generic image building tool, but I think that it would need to wait for the QEMU engine to be done so we have a better environment to offer to people for building images.

CC @jonasfj

[2017-05-03 14:19] petemoore opened #62 "worker type definition generation"
We have an ever growing list of worker types. An alternative to redesigning the architecture for how we manage worker environment definitions, and worker pools, would be to have a tool that allows us to generate worker type definitions from a simpler set of data.

Another way of putting this is, "Let's do for worker type definitions, what `mach taskcluster-graph` did for task definitions.".

This

[2017-05-03 20:08] jonasfj commented on #58
@djmitche,
My only arguments against numbers is:
 * It's hard to know if `1 > 2` or `1 < 2` (which is higher is not obvious)
 * It's not bounded so making scopes for high priority imply low priority is not feasible

The pro is that it's not bounded :)

**Reasoning for** `queue:create-task:<priority>/<provisionerId>/<workerType>`
 * We can do: `queue:create-task:low/aws-provisioner-v1/gecko-1-*` fo

[2017-05-04 03:12] jonasfj commented on #61
We already have docker running under qemu in tc-worker... just started using it for CI :)

[2017-05-04 03:37] jonasfj commented on #60
I like this too... :) But IMO it's a nice to have...

[2017-05-04 13:03] djmitche commented on #62
I think that an external tool is the right approach, rather than baking something into the provisioner.

Is https://github.com/taskcluster/taskcluster-admin enough?  It could either have the relevant information baked into it, or could pull from a JSON or YAML file somewhere else (as it currently does for https://hg.mozilla.org/build/tools/raw-file/default/buildfarm/maintenance/production-branches

[2017-05-04 13:12] djmitche commented on #58
Good point regarding the order of the fields in the scope - I agree now.

We should probably wrap this up, rather than identifying new ideas!  I don't think floats are notably better than integers, and integers do not seem to be the preferred solution.  Per-workerType priority levels also do not seem to have gained any traction. So I think the consensus idea right now is five named levels.  There

[2017-05-04 13:14] djmitche commented on #61
@petemoore can you give more detail on what you envision?

[2017-05-04 13:15] djmitche commented on #60
One cool aspect is, if we do this, we can remove the detail from the READMEs and just offer an example there, with links to the TC docs site for the full reference.

[2017-05-04 13:18] djmitche commented on #56
I added some more explicit documentation of the risk in
https://github.com/taskcluster/taskcluster-index/issues/29

Maybe that's sufficient?

[2017-05-04 15:06] djmitche commented on #54
🚢 IT :)

[2017-05-04 15:07] djmitche commented on #57
I sent an intent-to-implement last week, and there's been no feedback, so I'll get started on this.

OK, ok, I already got started on it ;)

[2017-05-04 15:14] djmitche commented on #44
@gregarndt I think you're working on this -- and I think we have consensus :)

[2017-05-04 15:17] djmitche commented on #42
I think this will need more detail as to how we will accomplish it, before it can be implemented.

[2017-05-04 16:15] petemoore commented on #54
SGTM - I'm totally on board. One issue though - I see we've moved to final comment phase, but without saying when the deadline is for providing feedback. Haven't we just violated the proposal with the proposal itself?! 😜

[2017-05-04 16:19] djmitche commented on #54
I figure it went out for final comment 7 days ago, and I think this only interests a few people, all of whom are on this issue.  But yeah, chicken or egg..

[2017-05-04 16:20] eliperelman commented on #25
Associated repo: https://github.com/eliperelman/neutrino-preset-react-components

[2017-05-04 16:20] eliperelman commented on #27
Associated repo: https://github.com/mozilla-rpweb/react-lazylog

[2017-05-04 16:25] jhford commented on #54
Aside from having an explicit minimum number of days anywhere in the proposal, I'm in full agreement.  I think we should have a minimum, but don't know the right amount or feel strongly enough about it to want to reopen the discussion.

[2017-05-04 16:27] djmitche commented on #54
We may figure out a good minimum as time goes on -- I think that situations where we must re-open a conversation should be a signal that we're doing it wrong (i.e., too fast)

[2017-05-04 17:36] jonasfj commented on #58
@escapewindow, thoughts? ^

[2017-05-04 17:50] escapewindow commented on #58
For parity, we need seven.  https://dxr.mozilla.org/build-central/source/buildbot-configs/mozilla/master_common.py#25

Will there be an expanded set of priorities for Gecko, or were you thinking about hardcoding 5 and having us figure out how to merge some priority levels?

[2017-05-04 17:54] djmitche commented on #58
The proposal was a hardcoded five - allowing different priorities for different workerTypes didn't get much traction.  Jonas, could we hardcode seven?

[2017-05-04 22:37] jonasfj commented on #58
* Priority: `lowest`, `very-low`, `low`, `medium`, `high`, `very-high`, `highest` (default to `lowest`)
 * Require `queue:create-task:<priority>/<provisionerId>/<workerType>`
 * Let `queue:create-task:<provisionerId>/<workerType>` imply `queue:create-task:lowest/<provisionerId>/<workerType>`

Thoughts?

[2017-05-04 23:00] jonasfj commented on #61
I could imagine a base ubuntu image for qemu that already contains docker and a script to clone a git repo and run a script...
So that you just write:
[code]
Assuming your repository contains a `Makefile` that defines the target `build-docker-image` which builds a docker image and exports it as a file to `/myimage.zst`...

Spoiler alert, we have this now :)

[2017-05-04 23:15] escapewindow commented on #58
This sounds good.  Having the default be `low`, and allowing anyone the scopes to make their jobs even lower priority than default might be good, and matches what we do for buildbot.  Then again, we could set the level 2/3 branches at a higher default priority, which is also fine.

[2017-05-05 01:18] imbstack commented on #53
Yeah, they pretty much have value forever as far as I can tell. If we want to debate the value of having retrospectives at all, I guess we can do that instead? It seems like a well established practice when running important services. If I was a "customer" of Taskcluster and it impacted my work in a negative way, I would want to know what happened and what is being done to fix it.

The process of

[2017-05-05 01:34] imbstack opened #63 "What color should we paint the bike shed?"
Answer: Green.

[2017-05-05 01:52] eliperelman commented on #63
You are most definitely wrong because reasons and I like blue.

[2017-05-05 03:26] imbstack commented on #63
I am a world renowned expert in shed chromaticity and green is clearly the superior choice. As we can see from this highly scientific graph, green is the least bad color.

![image](https://cloud.githubusercontent.com/assets/127521/25732764/ddd72888-3107-11e7-8bb8-7721bf192a96.png)

[2017-05-05 03:45] eliperelman commented on #63
I'm very highly educated. I know colors. I have the best colors. Everyone knows blue is better than all the other colors. Clearly your chart is fake news.

[2017-05-05 13:19] djmitche commented on #61
I'm not sure tc-worker, and specifically QEMU, is ready for "prime time" yet.  And @petemoore seems to be indicating using docker-in-docker rather than QEMU in the title of this issue.  I'm not sure what functionality that would include, and what would be left to the user.  @jonasfj's suggestion omits (well, leaves to the user) a lot:
 * mercurial support
 * "recipes" to copy data from elsewhere i

[2017-05-05 13:33] djmitche commented on #63
To summarize the discussion so far, we have two options on the table, violet and purple.

[2017-05-05 13:37] eliperelman commented on #63
@djmitche you're oversimplifying. I thought the other candidates were bluish red and reddish blue. Get on our level.

[2017-05-05 13:51] djmitche commented on #58
I think Gecko will have its own "default" (that is, it will give an explicit priority for every task it creates).  So the default really only applies to non-Gecko users.

[2017-05-05 17:52] jonasfj commented on #58
Agreed, default is only for API compatibility... Maybe we should even make
it required one day... Granted the work of tracking down all creators is
hard.

[2017-05-05 17:58] jonasfj commented on #61
Another option IMO is an image build that reads an env var `CONTEXT_URL`, downloads and extracts a tarball from given url, and then builds Dockerfile from said tarball...

Then you be a task that extracts things from you repo... Created said tarball and the.create a dependent task..

Note: IMO using docker CLI and zstd is the easy part...

[2017-05-05 18:01] jonasfj commented on #53
Okay, I can agree to those bullet points...

Except, PRs can be a painful way to comment on text documents. I hate to say it but, Google docs is better for text docs..

[2017-05-05 18:57] djmitche commented on #58
I think we have consensus on the most recent proposal, bullet points and all.  Jonas, do you want to check with the tools-taskcluster list if there are any dissenting opinions before this goes to implementation?

[2017-05-05 19:10] jonasfj commented on #58
Will do...

[2017-05-07 14:32] petemoore commented on #16
This is a great idea. Just to be explicit (as it kind of goes without saying) this should include repo-specific cancellation scopes. See e.g. [bug 1354067](https://bugzilla.mozilla.org/show_bug.cgi?id=1354067) where this came up recently.

[2017-05-08 20:51] jonasfj commented on #56
I think it would be good to make `taskcluster-cli` helpful for this sort of thing.
It's better to encourage correctness by making a tool that makes doing the right thing easy.

I don't really want to discuss removing this feature until people are happily moving to using a tool.
IMO, this so convenient we probably won't remove it. It basically transforms URLs, so they can be used with legacy system

[2017-05-09 11:24] jhford commented on #56
That's why we should remove it.  It makes it super convenient and easy to build your system in a bad way.  We're basically re-implementing the race-conditions of the old FTP "latest-nightly" problem.

What if there was an endpoint which would provide something like:

`curl index.tc.net/v1/index/my-route`
[code]
This endpoint would be pretty easy to implement and would make it really easy to use th

[2017-05-09 12:55] lissyx commented on #56
Except that the whole point of `command line tools to interpret` is the problem for basic usecases, IMHO.
Why should we need to depend on a TaskCluster-specific tooling to just download a file ?

There is no answer to my statement in https://github.com/taskcluster/taskcluster-rfcs/issues/56#issuecomment-296844546

[2017-05-09 13:26] ochameau commented on #56
+1

Please do not prevent us having links to nightly artifacts. This is really common need.

It would be unfortunate to regress that, especially given that Taskcluster is better than CircleCI here.
See some CircleCI users asking for the feature you are suggesting to remove :/
https://discuss.circleci.com/t/referencing-latest-build-artifacts/931

[2017-05-09 17:19] gregarndt commented on #27
Next piece to complete is integrating it within the inspector

[2017-05-09 17:20] gregarndt commented on #25
This has been completed in the above mentioned repo ^^

[2017-05-09 17:20] #25 closed

[2017-05-09 17:25] gregarndt commented on #24
Remaining pieces to be done here:
* Remove taskcluster mixins
* Integrate layout into application component
* Pass routes as props to views

[2017-05-10 14:43] luser commented on #5
FWIW, I almost never visit tools.taskcluster.net directly. I usually use my browser history to navigate directly to the tool I want. This is most often the task-creator, but I use other tools as well.

[2017-05-10 16:22] jonasfj commented on #5
I often use task inspector to find: artifacts and see state of runs... (Number of clicks is painful).

Also, I use client and role inspectors quite often to debug peoples scope issues...

[2017-05-10 16:31] djmitche commented on #5
I think I do three different kinds of things with tools:
 * Look at tasks (and I agree with @jonasfj here - I usually want to see either the artifacts of the last run, the task definition, or the logs from the last run)
 * Look at things - indexed tasks, pulse messages, roles, etc.
 * Administration - modifying things such as clients, roles, provisioner workerType definitions, hooks, etc.

[2017-05-10 17:22] escapewindow commented on #5
Something that may be Gecko-specific: often I want to take the taskId of a decision task, and open the matching taskGroupId, since we have a convention that a decision task's taskId is the taskGroupId of the graph it generates.

Currently:
- open decision task
- find the taskId.  In the task inspector, this is in a text field up top.  In the task group inspector, this is fairly low, in the "task d

[2017-05-10 17:26] escapewindow commented on #5
When I'm looking at roles, I often want to know if a role has the right scopes, and if not, which role to add the scopes to.  This currently involves a lot of `assume` tracing.  (It's possible I need to use a different tool?  The scope inspector seems useful, but still not quite specifically designed for this task.  I haven't used it much yet though.)

I'd love to be able to expand the scopes or h

[2017-05-10 17:29] escapewindow commented on #5
I understand the `payload`, `extra`, etc sections of the task definition in the task inspector view are supposed to be helpful, but they almost invariably are missing information I'm looking for, and I click through to the definition.

[2017-05-10 17:34] luser commented on #5
+1 to "I want to get to the log from the latest run from task-inspector". I do this *a lot* and it's several clicks.

[2017-05-10 17:40] jonasfj commented on #5
Regarding task-inspector:
 * it used to have a tab for the first 5 runs.
 * It used to show run-info, artifacts and logs on the same page.

This disappeared in some cleanup... adding that back would go a long way :)

[2017-05-10 17:44] djmitche commented on #5
From irc clarifying @escapewindow's point, the task he's looking at (I4gu9KDmSZWu3KHx6ba6tw) doesn't actually follow the TC convention about decision tasks.  For tasks that do follow the convention, finding the task graph is pretty easy: just click the taskGroupId link.  However, for @escapewindow's purposes, it would be *really* useful for the task-group-inspector to display a task's taskId, as t

[2017-05-10 21:09] djmitche commented on #5
Regarding the task inspector -- I think the cases where anyone is interested in anything other than the most recent run are vanishingly small.  It probably makes sense to have no UI at all for runs, unless there are >1 runs defined for the task, in which case a "Run: [2]" drop-down appears in the run information to allow the user to select runs other than that the latest (number 2, in this case).

[2017-05-10 21:39] luser commented on #5
FWIW I rarely use the actual log viewer, I almost always use the direct link to the log from the artifacts, because I find that searching and scrolling works much better there. (Maybe it's improved and I just have an old habit?)

[2017-05-11 23:35] escapewindow commented on #5
Currently I'm retriggering 3 tasks in an older task group.

I can keep context on one in the task group inspector; otherwise i need to find the other 2 tasks i care about in a field of completed/failed/exception tasks.  I'd love a way to easily open the standalone task inpector from the task group inspector tool.

Alternately, a convenient place to copy the taskId would help here, as well.

[2017-05-17 15:02] #63 closed

[2017-05-18 14:32] gregarndt commented on #58
Final comment email sent to tools list on the 5th with no objections.

Work has been implemented in the queue here:
https://github.com/taskcluster/taskcluster-queue/pull/166

And within the gecko in-tree scheduling based on legacy buildbot priorities:
https://hg.mozilla.org/integration/autoland/rev/6a2176a264959e19e4a4cbcb18fd47b9653745f8

[2017-05-18 14:32] #58 closed

[2017-05-18 14:36] gregarndt commented on #54
I think we agree that we should have a minimum amount of time for the FCP, but maybe not consensus on if this should be defined within the process, or up to the person calling for final comment.  I'm in favor of having it be explicit in the final comment phase email that is sent and not in the process.  The sponsor for the RFC can make the right call, and we probably should be flexible and allow m

[2017-05-18 22:47] gdestuynder commented on #9
As a side note, our auth0 prod now supports the API calls as well (just like dev), since last saturday

[2017-05-19 14:29] djmitche commented on #57
Progress is at https://github.com/djmitche/taskcluster-docs/blob/a424c7803cbca9cceb4edeaddaff75f7c9588dab/src/manual.md

The manual itself is sketched out, but still a bunch of "XXX" to fill in.  If anyone would like to have a look, please be gentle -- feedback is probably best emailed to me at this point.

[2017-05-31 15:18] djmitche commented on #40
closing until we have more detail

[2017-05-31 15:18] #40 closed

[2017-05-31 15:19] djmitche commented on #49
From dup #33:

[2017-05-31 15:19] djmitche commented on #33
dup #49

[2017-05-31 15:19] djmitche commented on #17
dup #51

[2017-05-31 15:19] #17 closed

[2017-05-31 15:22] djmitche commented on #54
We definitely do not agree on a time or whether to have one, but with that aside I think the approach is working well.  We can adjust later if necessary (e.g., if we find that the time is too short or too vague).  I'll write this into the `mechanics.md` file.

[2017-05-31 15:45] djmitche commented on #53
I'd like to make a decision on this one way or the other.  Options on the table now are:
 * [github repo](https://public.etherpad-mozilla.org/p/taskcluster-retrospectives)
 * wiki.mozilla.org
 * mana
 * google docs
 * etherpads (no change)

My requirements:
 * public
 * allow asynchronous discussion (avoiding a meeting)
 * clear notion of when the postmortem is "finished" (PR is merged, in the git

[2017-05-31 15:47] djmitche commented on #62
@petemoore thoughts on the above?

[2017-05-31 18:28] djmitche commented on #30
We might also want to drop the data from an index entry.  I don't think I've ever seen it used.

[2017-06-01 20:58] jonasfj commented on #30
If we want it integrated into the queue... then why don't we just tweak the queue such that tasks can be listed using `task.tags`.

If we allowed `*` matches against `task.tags` that would super powerful. Conditions like `task.tags["myTag"] LIKE 'substring/*/other-string' and task.tags["myOtherTag"] < 834`.

This should probably require a relational database in the queue, but it's not unthinkable.

[2017-06-01 21:03] jonasfj opened #65 "Migrate queue to postgres"
Pros:
 * We can do smarter things
   * for priority
   * task affinity
   * querying tasks
   * statistics
 * Lots of cheap hosting options:
   * aws aurora postgres
   * aws rds postgres
   * heroku postgres
   * google cloud SQL postgres
   * self-hosted postgres
   * self-hosted cockroachdb (we are close to key-value usage)
 * We can host in the same data center as our web nodes (reducing laten

[2017-06-01 21:24] djmitche commented on #65
If we do our heavy queries on a read-only replica, then we can avoid bringing down production.

[2017-06-01 21:29] jonasfj commented on #65
Indeed, the nice thing with azure table and similar services is that you can't make queries that won't scale. It's usually pretty obvious that a full-table scan doesn't scale. With postgres there is risk you don't find performance issues before it's scaled.

[2017-06-02 02:43] djmitche commented on #65
Given our team's knowledge of postgres at scale, I'd say that is not so much a risk as a certainty.

[2017-06-05 21:07] djmitche commented on #57
I'm going to omit the "Uploading to S3" part.  That's too hard, especially with buckets in another account.  If at some point we make that process easier and more self-serve, we can add a section.

[2017-06-05 21:33] djmitche opened #66 "Allow hooks to be triggered by pulse messages"
Each hook would have a configuration listing (exchange, routingPattern) pairs. When a matching message is received on pulse, the hook would be fired, given the pulse message as part of the [JSON-e](https://github.com/taskcluster/json-e) context.

[2017-06-07 12:27] gregarndt commented on #53
I like having a place for historical reference (such as the github) and a lighter weight way of documenting the incident while it's happening and refining it before putting it up somewhere.  I tend to favor google docs because it gives the flexibility of real time collaboration, and you can comment on pieces of it fairly easily.  It can also work for async discussions as well too.

In the end I'm

[2017-06-07 17:07] escapewindow opened #67 "atomic graph submission"
Several times in recent releases, we've hit partial graph submission, which causes confusion.  Missing scopes is the biggie here, but we also hit a max routes issue.  Certain tasks are submitted and run in `run 0`, and then any chain of trust verification fails for decision task `run 0` tasks, because decision task `run 1`'s artifacts take precedence, and the task no longer matches the graph.

I c

[2017-06-07 17:25] escapewindow commented on #67
The `transactionId` could actually be a task that depends on a specific `taskId`+`runId` of the decision task completing successfully.

This is good in that it doesn't add too much service-side functionality.  This isn't good in terms of emails that send when tasks are complete/failed/exception, because we can get a lot of exception emails when the partially submitted graph passes its deadline.

[2017-06-07 21:26] djmitche commented on #67
The existing strategy is to make all tasks created by a decision task, which do not have any dependencies, depend on the decision task.  There are a few issues with this:

 1. It doesn't distinguish optimized tasks from those that really have no dependencies, so a build that depends on a docker-image task that completed yesterday would not have the decision-task dependency added, and would start t

[2017-06-08 02:36] djmitche commented on #67
Somehow I didn't see the followup comment.  This is pretty similar to what I suggested, except that the decision task would schedule it directly, rather than having dependencies on individual runs

Isn't this the case regardless of which approach we take here?

[2017-06-08 04:02] escapewindow commented on #67
GMTA :)

If the queue somehow verifies but doesn't actually create the tasks until the transaction is complete, the tasks are in a mid-transaction state, and potentially never get into a completed/failed/exception state, and the only email we'll get is the failed decision task.  I'm not sure how we do this though.

If the decision task verifies the graph's scopes/routes before submitting, it will

[2017-06-08 04:06] escapewindow commented on #67
Hm, this is complicated by the fact that the releasetasks graph is submitted the old deprecated way, where failures are automatically rerun.  Maybe after the graph is complete we should cancel the tasks that are dependent on those unfinished `transactionId` tasks.

[2017-06-08 04:39] jonasfj commented on #67
Regarding exception due to deadline expiration... There is a reasonResolved consult that and ignore deadline expirations.. or ignore task exception, granted that might have other downsides...

The tasks B could just be a dummy tasks that verifies that the decision task finished on first run..

Another option is to set retries to zero for decision task. This would work great if gecko-decision was r

[2017-06-08 17:19] gregarndt commented on #67
As far as I can tell, 6 out of 75702 task runs on gecko-decision have been resolved as worker-shutdown in the last month.

 completed 47414
 failed   27873
 exception | canceled 111
 exception | claim-expired 65
 exception | deadline-exceeded  233
 exception | worker-shutdown  6

[2017-06-12 16:51] djmitche commented on #53
OK, my understanding is that the majority opinion is 'google docs' and the minority agrees to use whatever the majority decides.  Assuming this is decided:
 * move all retros to a google docs folder
 * make that folder world-readable
 * link to that folder from our wiki page
 * build a simple template based on the existing etherpad template
 * update retro instructions to point to that folder

(FC

[2017-06-13 10:05] petemoore commented on #53
So I think I favour a repository, since it is easy to grep, use markup, doesn't require signon (assuming you have it checked out, it is just a `git pull`). I personally hate using web-based text editors (etherpad, google docs, ...) - maybe since it is often slow/laggy for me.

I think a repo has more tools available to it too, e.g. mass cleanup is relatively painless, restructuring, reorganising.

[2017-06-13 13:04] petemoore commented on #53
What about using google docs, and then copying into github when the retrospective is completed?

This would meet the real-time collaboration need, but also solve the scalability need when we have a lot of retrospectives to search through / maintain etc.

[2017-06-13 13:07] djmitche commented on #53
Pete's email was messed up, so he didn't get notified of this until just now :(

So we now have three in favor of repos (me, @imbstack, @petemoore) and two in favor of gdocs (@garndt, @jonasfj).

[2017-06-13 13:08] djmitche commented on #53
@gregarndt, can you outline the "real-time collaboration" bit?  One of the things I'd like to do is not have retrospective meetings anymore, so I'm not sure how "real-time" applies.

[2017-06-14 14:37] jhford opened #70 "Apis should have a /internal/ route-space for internally applicable only things"
In the new EC2-Manager repository, I've been adding a few endpoints under `/v1/internal/` which, per the name suggest that they are for internal/diagnostics type things.

This is especially helpful when debugging systems like Heroku.  Some of these endpoints might be per-process, but some might be per-application.  For per-application ones, they are generally useful.  For per-process ones, they ar

[2017-06-14 14:46] djmitche commented on #55
I wonder if this could be implemented in the host-secrets service?  Provisioners would then call out to the secrets service to create a token with corresponding scopes and limits on its usage -- be that "infinite uses" for hardware or "one per IP up to N" as described above for batches of EC2 instances.

[2017-06-14 15:36] jhford commented on #55
So the other thing to keep in mind here is that the scaling issues we have are completely unrelated to submitting a single spot request for each instance.  That's actually working really well right now and not the source of any trouble any longer.

With that in mind, I think we should be fine to keep things as they are.

[2017-06-14 15:48] djmitche commented on #55
Hm, good point. @imbstack should we close this?

[2017-06-14 18:53] escapewindow commented on #67
Only non-deprecated reason for extra runs =\  Our release task graphs retry on failure due to the old graph submission api, so maybe this is another reason to move.  It'll take a little while though.

[2017-06-14 18:59] djmitche commented on #67
It seems like there are workarounds here that we could implement in the decision task (so, out of scope for a TC RFC, since it's a Gecko thing), and maybe this would be improved by the already-planned move away from using taskcluster-scheduler.  It seems like there's not much need for a change to the TC platform here, then?

[2017-06-14 19:02] escapewindow commented on #67
Possible. Releaseduty does rerun failed decision tasks, esp when the decision task is part of another graph. Lower priority RFC maybe?

[2017-06-14 19:17] djmitche commented on #67
Sorry, I didn't say that very clearly: it doesn't seem there's any proposed change to the TC platform here, which is what RFCs are for.  This could be a bug to modify how the Gecko decision task is implemented -- I'll open that up.

[2017-06-14 19:21] djmitche commented on #67
https://bugzilla.mozilla.org/show_bug.cgi?id=1373013

[2017-06-14 19:21] #67 closed

[2017-06-19 11:24] petemoore commented on #62
@djmitche I was thinking along the lines of having a repo with a .taskcluster.yml integration that generates worker type definitions as artifacts of the task. This repo would contain the code/configs to generate the worker type definitions (and would helpfully populate the worker type description to link to the code that generated it).

Maybe something external would read these task artifacts (per

[2017-06-20 14:55] djmitche commented on #62
Ah, so the workerTypes would be generated more as a side-effect of generating the AMI.  Tc-admin just calls API methods, but it could easily download a workerType definition from a task, munge it as necessary (expanding it "from a simpler set of data"), and then put it into the AWS provisioner.

[2017-06-20 15:56] #57 closed

[2017-06-20 20:16] gregarndt commented on #53
What I was thinking about this is that during an incident we want to have as much lightweight interactive communication as possible.  Probably by using a google doc or etherpad, I really don't care either way.  Once the incident is over, we can then move that over to a PR in the retrospective repo to commit for all of time.

[2017-06-20 21:04] djmitche commented on #53
Ah, that's what @petemoore said too. So maybe we are all on the same page: (bulleted for Jonas)
 * incident occurs
 * someone opens up a google doc (I agree these are better than etherpad for this sort of thing)
 * everyone dumps notes, info, etc. in there
 * incident is resolved
 * someone uses the google doc to write up a retrospective document, flags one or more other participants for review on

[2017-06-22 14:57] djmitche commented on #55
👨 makes executive decision

[2017-06-22 14:57] #55 closed

[2017-06-22 15:26] petemoore opened #71 "queue.registerWorker call for gaining worker credentials and providing metadata"
Originating from [bug 1374978](https://bugzilla.mozilla.org/show_bug.cgi?id=1374978#c3):

What about if the provisioner continued to provide credentials, as it currently does, but instead of granting the current scopes it grants:

* `assume:worker-id:*`
* `assume:worker-type:aws-provisioner-v1/<workerType>`

it could instead grant the single scope:

* `queue:register-worker:<provisionerId>/<worker

[2017-06-22 15:32] petemoore commented on #71
For more context, the reason I propose this is to deal with the current limitation that the aws provisioner currently needs to grant `assume:worker-id:*` to workers since it can't reliably know what their worker group (region) and workerId (instanceId) are. Therefore workers have the potential to impersonate other workers with different instanceIds and in different regions.

This approach would en

[2017-06-22 15:39] djmitche commented on #71
The schema metadata part would be useful for #22.

What is the utility of the slugId?

The registrations would then be "kept alive" by `claimWork` and `reclaimTask` calls, with expirations occurring pretty aggressively, so that we can have an accurate notion of the *active* workers, and not keep an infinite list of workers that once were :)

[2017-06-22 15:51] jonasfj commented on #53
Makes sense to me...

[2017-06-22 15:57] djmitche commented on #53
OK, *now* I think we're all on the same page :)

[2017-06-22 17:52] petemoore commented on #71
@djmitche

To guarantee one-time-use semantics.

Consider the following use case if the slugId is removed. The provisioner grants credentials to a worker. The worker uses the credentials to register with the queue, and then begins claiming task. A task is executed which is able to compromise the provisioner-provided credentials (maybe they are accidentally logged in a system log which is accessibl

[2017-06-22 19:12] djmitche commented on #71
Oo, I like that -- it means that the creds provided to the host are automatically single-use-only.  I think we'd need to do a little more contemplating how that could work in the hardware case, because we also want to limit workerGroup and workerId there, and have an easy (configuration-free) way of saying that workers with a specific prefix (e.g., `com.mozilla.releng.scl3.test.t-yosmite-*`) can o

[2017-06-23 16:14] djmitche commented on #53
Final comment period until July 3 (because I don't want to be bothered with this during the all-hands)

[2017-06-23 18:18] petemoore commented on #53
Love it.

[2017-06-28 17:04] djmitche commented on #13
Per discussion today, this is more of a design criterion than a specific proposal. @imbstack should we close?

[2017-06-28 21:50] jonasfj opened #72 "taskcluster-gateway - moving granting of thirdparty credentials out-of taskcluster-auth"
We should have a service that issues temporary credentials for:
 * S3
 * sentry
 * statsum
 * azure SAS blob/table
 * webhooktunnel
 * etc...

We have a lot of small methods that translate TC scopes to temporary third-party credentials.
We should not add these to taskcluster-auth, but instead factor them out into a separate service.

Note: We only group these because on their own they are simple a

[2017-06-29 21:22] jonasfj commented on #31
etherpads we've outlined, none of them are completed or correct:
https://public.etherpad-mozilla.org/p/generic-provisioner
https://public.etherpad-mozilla.org/p/jonasfj-bstack-provisioner-design

[2017-06-30 20:28] djmitche commented on #71
We discussed a variant of this proposal today in SF.  Here's what we determined:

The model is three nested REST entities: provisioner, worker type, and worker

 * `declareProvisioner`
   * declares a provisionerId (do not expire)
   * declares "actions" that can be taken on workers
   * may later declare policies for managing those
 * `declareWorkerType`
   * declares a worker type, with docs and

[2017-06-30 20:41] djmitche opened #74 "Worker, workerType, and provisioner explorer UI"
As discussed today in SF..

We need a tool for examining and manipulating running workers.  It is based on the model and data gathered in #71.  It would have the following pages:

 * a list of provisioners, linking to..
 * for a provisioner, a list of workerTypes, each with its worker count and pending count
 * an information page for a single worker, containing:
   * worker.extra and other metada

[2017-06-30 20:42] djmitche commented on #71
Pete and Jonas agreed that we will not use slugids or return credentials from `declareWorker`.

[2017-06-30 20:44] djmitche commented on #71
This will require putting some data in postgres, but this is not #65. The tables we will need are something like (with `*` indicating primary key):

`Provisioners`
 * provisionerId *

`WorkerTypes`
 * `provisionerId` *
 * `workerType` *
 * docs
 * payload schema
 * expires

`Workers`
 * `workerGroup` *
 * `workerId` *
 * `provisionerId` *
 * `workerType` *
 * extra
 * boot time
 * expires
 * creat

[2017-07-03 14:12] djmitche opened #75 "Miscellaneous Worker"
# Motivation

The Taskcluster team recommends use of dummy tasks to work around a number of
API limits. For example, the queue has a finite limit on the number of
dependencies a single task can have, and the recommended workaround is to
create a collection of dummy tasks, each with a dependency count below this
limit, and then make the "real" task depend on those dummy tasks.

Release engineering

[2017-07-03 14:13] djmitche commented on #75
@escapewindow I think we talked about this in irc before the SF all-hands.  Does this sound useful?  Any adjustments to make?

[2017-07-03 15:37] djmitche commented on #53
OK, repo is updated - or at least, there's a PR to updated the README - and I've linked it from https://wiki.mozilla.org/TaskCluster/Operations

[2017-07-03 15:37] #53 closed

[2017-07-03 15:39] djmitche commented on #8
Per discussion at the SF all-hands, we're temporarily scaling this back to just the decision/action bits.  The rest is still planned and certainly open for implementation by someone who is interested, but at the moment nobody is working on it.

[2017-07-03 16:06] djmitche commented on #20
We decided at the SF all-hands to stop pursuing this particular project right now.

[2017-07-03 16:06] djmitche commented on #66
This isn't really a proposal yet -- needs more detail!

[2017-07-03 16:15] djmitche commented on #72
I disagree with making tc-pulse a separate service.  True, most of these do not need active management like pulse does, but the basic purpose is the same from the user perspective: trade TC creds for service creds.

Regarding name, this isn't really a gateway to anything.. How about `taskcluster-credentials-hub`?  I agree that simply `taskcluster-credentials` is too easily confused with the term "

[2017-07-03 17:15] djmitche opened #76 "Turn off the scheduler service"
The major known user of this service is release engineering (c.f. https://bugzilla.mozilla.org/show_bug.cgi?id=1259627) and it's unclear how difficult it would be to stop using the service.

This service has not seen much love, and is likely still running in Jonas's Azure account.  If we choose not to sunset it soon, we should update it and move it to the production Azure account.

[2017-07-03 17:20] djmitche opened #77 "Deprecate old API methods"
We have a few deprecated API methods:
 * queue.defineTask
 * queue.rerunTask
 * hooks.getHookSchedule

as well as some deprecated ways of using existing APIs, notably
 * queue.createTask without priority

We should measure the usage of each of these APIs, set a date for removal, and work with any remaining users to stop using them.  Note that queue.defineTask is still used by the scheduler service

[2017-07-03 17:34] djmitche commented on #19
@imbstack is this in progress? Should we mark as decided?

[2017-07-03 17:36] eliperelman commented on #28
All are much improved.

[2017-07-03 17:36] #28 closed

[2017-07-03 17:37] eliperelman commented on #27
Inspector integration complete.

[2017-07-03 17:37] #27 closed

[2017-07-03 17:37] eliperelman commented on #24
Done!

[2017-07-03 17:37] #24 closed

[2017-07-03 17:55] djmitche commented on #13
Answering my own question, yeah, I think this isn't a proposal yet

[2017-07-03 17:55] #13 closed

[2017-07-05 13:22] djmitche commented on #76
I think we all agree on this, and @rail has made some progress in https://bugzilla.mozilla.org/show_bug.cgi?id=1259627

[2017-07-05 13:23] djmitche commented on #43
In discussions at SF there was no disagreement here.

Alternatives were to patch esr52 to not use it anymore and kill it, or just remove caches for everything *but* esr52 (to prevent accidental use) and wait for the ESR to die in a year.

[2017-07-05 13:26] djmitche commented on #42
We have decided not to work on adding pulse-listening capabilities to hooks (#66) for the moment, so this is not something we can work on immediately.

[2017-07-05 13:27] djmitche commented on #5
@eliperelman I think this is implemented now, right?

[2017-07-05 13:30] djmitche commented on #16
This will be more practical after #9, but will need some further development and discussion on exactly how we do it.

We have discussed creating short-term clients, rather than temporary credentials, since those clients can contain more scopes than can be fitted into an HTTP header.  Even so, enumerating all of the repos to which a user has access may be a herculean task, and we need to think abou

[2017-07-05 13:36] djmitche commented on #56
I added a note to "[Working With Artifacts](https://docs.taskcluster.net/manual/using/artifacts)" in the manual advising against the risky behavior highlighted here.  @jhford do you think that's sufficient?  If so, can we close this issue?

[2017-07-05 13:40] djmitche commented on #22
I'm going to roll this into #71, since this is but a small part of it and that issue is better-defined.

[2017-07-05 13:40] #22 closed

[2017-07-05 13:44] djmitche commented on #77
I'll make a proposal out of this after #76 is done.

[2017-07-05 13:56] djmitche commented on #31
Note https://bugzilla.mozilla.org/show_bug.cgi?id=1378357 where the instance state of "started but not yet accepting jobs" is an important part of modeling capacity.

[2017-07-05 14:02] eliperelman commented on #5
@djmitche I'd say that almost all of these now have an improved experience, and we will try to improve it more through the end of the year.

[2017-07-05 14:02] #5 closed

[2017-07-05 15:02] petemoore commented on #31
Some pertinent context from the past: [Bug 1185003 - Tasks should not need to know what provisioner creates their workers](https://bugzilla.mozilla.org/show_bug.cgi?id=1185003)

[2017-07-05 16:52] petemoore commented on #75
re: `wait-for/<workerType>` - you can only resolve a task you have already claimed, so with current mechanics, it would require at least two API calls. Also note that if the second call is not within around 20 mins of the first call, you could end up with a state of `exception/claim-expired`.

I feel like we should address the queue's limit to the number of tasks it can depend on in another way -

[2017-07-05 17:21] djmitche commented on #75
Yeah, do you think it's worth adding a special claim-and-resolve API endpoint for this?  I kinda don't..

@jonasfj can you speak up regarding number of dependencies?  I recall that limit is to control algorithmic complexity in the queue (O(n^2) in the number of dependencies).

[2017-07-05 20:08] jonasfj commented on #75
I thinking there is a quadratic complexity... it's `O(N)` but `N*3` or so...  hence, each dependency adds something like 2 or 3 operations... which slows things down -- and hence, creates instability if it goes too high...

[2017-07-06 11:16] petemoore commented on #75
If it is `O(N)` then there is no benefit from splitting up dependencies - the total processing time is the same, in fact there is no doubt increased load when splitting up into multiple tasks, as there will be overhead per task, in addition to the other disadvantages listed above.

I see no reason to introduce a limit here under say 10,000. If a task depends on 10,000 other tasks, then let it list

[2017-07-06 11:35] petemoore commented on #75
Thinking about this more, I see this as just a regular worker implementation, and I think it requires no action on our side. For example, Release Engineering can create an interface to allow a user to approve a release. This would simply claim and resolve a task, like you say. It is effectively like implementing their own simple worker, which just makes two API calls. I think they should be able t

[2017-07-06 12:56] jhford commented on #71
Aside from a registry of provisioners, I don't agree with this RFC.  Besides registering of provisioners, the information stored within is mostly a duplicate of information stored in the various provisioners, the queue or could better be derived from other sources.  Because it's a best effort service and because it does things like TTL on registration, the information in it cannot be trusted to ma

[2017-07-06 13:01] jhford commented on #74
This sounds like a great idea.  Until we have something to register provisioners, we could hard code a list of provisioner baseUrls and an option to specify one freeform.

We don't have a specific provisioner api declared, but the aws-provisioner already contains methods for everything other than recently claimed tasks and statuses.  See https://github.com/taskcluster/taskcluster-rfcs/issues/71#is

[2017-07-06 13:48] jhford opened #79 "new policy: do not edit other people's github comments or delete comments"
Editing the words of another github user should never be done.  This proposal is for this repository as well as all other taskcluster repositories.

My proposal is that this procedure be followed for all cases where you would like a comment to be altered:

1. Ask comment author to edit comment on their own
1. If original author agrees, *they* make the edit
1. If original author disagrees, add your

[2017-07-06 14:04] djmitche commented on #75
I think Jonas meant "it's not O(N) but N*3" - that pesky habit of forgetting "not".  So O(N*3) for 10000 is 1000000000000 which gets into memory/time issues.  Even with 100 dependencies that's 1000000 operations.

Dependencies aren't the only reason to want dummy tasks.  We also want to use dummies to control startup of task graphs or to summarize the results their results, for example.

Regarding

[2017-07-06 14:06] djmitche commented on #74
I don't think this service needs to talk to provisioners, so there's no need for baseurls.

[2017-07-06 14:10] jhford commented on #74
I think we'd need to reach a conclusion on #71 before we can say whether or not we need to talk to provisioners.

[2017-07-06 14:10] petemoore commented on #71
Taking a step back, the original RFC was simply about deprecating the use of `assume:worker-id:*` (see [original bug comment](https://bugzilla.mozilla.org/show_bug.cgi?id=1374978#c3)) by implementing a mechanism to ensure that one worker couldn't impersonate another worker. My original proposal was to solve this by adding a `registerWorker` endpoint which did not allow two callers to use the same

[2017-07-06 14:41] jhford commented on #79
This is not a widespread issue and I've only noticed this happening in this repository.  If editing a comment is something we intend to do, we should have something which makes the comment which is intended to be communal with a shared account.

[2017-07-06 15:00] jhford opened #80 "store RFCs in files in the repository, discuss RFC through a PR"
Right now, each RFC is a github issue.  There are the following drawbacks

1. The discussion of the issue and the content of the proposal are interspersed.
1. Without building tooling, there's no way to amend the proposal in a way which preserves correct attribution
1. It would be very difficult to move this system to another repository or hose

The proposal is that we:

1. Create directory `rfcs`

[2017-07-06 16:07] djmitche commented on #80
I love it. This is similar to the [Rust RFC process](https://github.com/rust-lang/rfcs).

It might be useful to say explicitly that ownership of an RFC can change, and the new owner can push changes (using new git commits in their own name to preserve authorship)

This process closes RFC PR's when they are decided, like the rust process (I think Github enforces this - merged PRs are closed automat

[2017-07-06 16:09] djmitche commented on #79
Does #80 supersede this issue, then, by providing a mechanism to replace the comment-editing process?

I'm happy to agree that we shouldn't be editing other people's comments in general - I think that's an accepted social norm already.

[2017-07-06 16:17] djmitche commented on #71
OK, fair enough - I thought our discussion was a logical extension of this RFC, but they are indeed distinct.  I'll start a new one, and if you'd like to delete everything before "Original comment" in the first coment of that issue, that'd be great.

[2017-07-06 16:34] jhford commented on #80
I don't really know what to do with archived rfcs in general.  If we don't adopt it, we probably don't need it, but if there was value to it, we should probably keep it somewhere?  i don't have strong thoughts.

[2017-07-06 19:14] gregarndt commented on #80
I think one of the keys of using github PRs for the RFC process is moving a lot of the discussion outside of the PR and into other forms of communication, such as their IRC channel, discourse forum, or github issues.

We do some discussion on IRC, but a lot of times I've seen it quickly turn into "file a RFC" (which seems to be our new "file a bug" in ways) and we'll discuss there.  We combine the

[2017-07-06 19:54] jonasfj commented on #79
I would love to avoid rigid policies around this...
I haven't really noticed people editing comments... and certainly haven't experienced any issues with it.

IMO it's great if you fix a broken bullet point, a spelling error, messed up code-formatting, etc... or other obvious mistake..

I seriously doubt anyone is editing comments with nefarious intent...

----
Honestly, I'm actually a fan of:
 *

[2017-07-07 01:59] djmitche commented on #80
Regarding archived RFCs, the rust process allows an FCP that leads to not adopting the RFC, but it gets merged and assigned a number anyway.  So that's an option.

[2017-07-07 11:01] petemoore commented on #80
I like it, I agree with all the advantages you listed. r+

[2017-07-07 12:00] petemoore commented on #75
@jonasfj Can you clarify if you meant `O(N)` or `O(N^3)`?
I read this as `O(N)` based on "hence, each dependency adds something like 2 or 3 operations".

Can you elaborate?

I feel the concept of provisionerId isn't well defined - sometimes it is an actual provisioner (`aws-provisioner-v1`), sometimes the task is just a placeholder for artifacts and we use a non-existent provisioner (`null-provisi

[2017-07-07 14:56] djmitche commented on #75
We've been talking about how to make a decision task for which the tasks don't start until after the decision task is complete, and for which you could re-run the decision task, the latest idea is to create a graph like the following:

[code]

I'm not totally sure that's the right idea, but it was another case where "dummy task" was a useful concept.  I recall it coming up in a few other conversat

[2017-07-07 14:56] djmitche commented on #75
So let's consider the proposal adjusted to omit `wait-for`, although how to represent that in an RFC is currently in flux..

[2017-07-07 20:09] jonasfj commented on #75
An algorithm that takes `N*c+k` steps is still `O(N)`. So when I say it's `N*3` operations the complexity is still `O(N)`, with `c = 3` (which disappears in big-O notation). In practice, however, if we're talking  `N*3` remote API calls and `N > 100` that starts to take some time and in this case it becomes slow.

So while the number of remote API operations is still linear in the size of the inpu

[2017-07-07 20:42] petemoore commented on #75
My feeling here is we could do some testing to see what the potential range could realistically be. For example, we could set it to 10,000 and see how long various http requests take to complete (and if they might hit 30s timeout). I'm in favour of an upper limit, I just think it should be something higher, to make breaking up dependencies into multiple dummy tasks something that should almost nev

[2017-07-09 23:34] gregarndt opened #82 "Users should be able to administer workers across provisioner boundaries"
Users do not have a general way of administering worker types and workers across provisioner boundaries (some do not even have an actual provisioner).

For AWS provisioned workers, users can see some data about that worker type such as pending counts and instances running for a given worker type.  However information specific to each of those specific instances, as well as some general information

[2017-07-09 23:35] gregarndt commented on #82
Copied from https://github.com/taskcluster/taskcluster-rfcs/issues/71#issuecomment-312365779

We discussed a variant of this proposal today in SF. Here's what we determined:

The model is three nested REST entities: provisioner, worker type, and worker

    declareProvisioner
        declares a provisionerId (do not expire)
        declares "actions" that can be taken on workers
        may later

[2017-07-09 23:36] gregarndt commented on #71
#82 has been created to address the expanded problem we are attempting to solve

[2017-07-10 01:09] escapewindow commented on #75
I can see the usefulness of a task that automatically fails or succeeds. I would also possibly suggest a task that fails or succeeds based on the results of its dependencies.

I'm not sure I see the usefulness of the wait-for task; isn't that solvable by scheduling it against a specific `workerType`?

[2017-07-10 08:21] jonasfj commented on #75
range could realistically be

We have some experience with this for task-graph-schduler... Where 1k
caused issues.. not all the time, but some times... These issues can't be
reliably reproduced because they are effects of network degration on top of
other things...

But if we moved to postgres it might be a different story... Granted I
still think we want a limit to avoid huge locks on the databas

[2017-07-10 12:47] jhford commented on #82
Related to this discussion is my comment from https://github.com/taskcluster/taskcluster-rfcs/issues/71#issuecomment-313388095.

------------------------------------------------------

Aside from a registry of provisioners, I don't agree with this RFC. Besides registering of provisioners, the information stored within is mostly a duplicate of information stored in the various provisioners, the que

[2017-07-10 12:51] jhford commented on #71
In order to acheive this, I wonder if the service which provides our temporary credentials (e.g. aws-provisioner, tc-host-secrets) could be updated to also generate a 'worker-id' in the form of a slugid which is unique to each worker.  If we then issued the temporary credentials with the scope `assume:worker-id:<slugid>` instead of `assume:worker-id:*` we could ensure that each worker would only b

[2017-07-10 13:30] jhford commented on #74
This now refers to #82

[2017-07-10 13:34] djmitche commented on #75
OK, let me see if I can summarize the topics here:

 * *succeed / fail workers* -- potentially useful (and maybe room for some more interesting behavior based on dependency results)
 * *wait-for* -- not useful
 * *100-dependency limit* -- possibly too low

It would be pretty cool if we could lift the dependency limit by a factor of 10 or more, but it's only tangentially related to this RFC, in tha

[2017-07-10 13:37] djmitche commented on #75
(proposal updated to match)

[2017-07-10 15:30] petemoore commented on #71
Historically we used instanceId for workerId as it was useful for mapping data back to Amazon and associating papertrail logs to workers etc. If we used something other than the instanceId for the workerId, it certainly would overcome the issue of two workers impersonating each other, although I wonder if we might still have the problem that a worker could pretend to be running on a different inst

[2017-07-10 15:47] jhford commented on #71
I agree that instance-id is a much nicer thing to use for the reasons you mentioned.  The problem is that there's no guarantees that instance ids are unique over a period of time.  The only guarantee that I'm aware of is that two instances aren't using the same id at the same time in a given region.

It's exceedingly unlikely, but there is a chance that we get two different instances with the same

[2017-07-10 16:40] escapewindow commented on #75
I wrote up http://escapewindow.dreamwidth.org/243472.html#dummy_jobs a while back. Some of these ideas might belong here; it's possible some others may either be unneeded or complex enough that we may want to split them out into some other thing.

### success / failure tasks

- I think it would be good to be able to specify `worst_level`, so the task only succeeds if all deps succeed.
- someday we

[2017-07-10 18:01] djmitche commented on #15
Based on conversations since April, this isn't something we're contemplating right now.

[2017-07-10 18:01] #15 closed

[2017-07-10 22:30] jonasfj commented on #71
I think @jhford is spot on here!
I agree that it would be neat if we could use `instance-id`, but at it's heart it is the responsibility of the aws-provisioner/tc-host-secrets to issue unqiue worker-ids.

I imagine that `workerGroup/workerId` could be used for:
 * debugging,
 * audit logging
 * blacklisting unhealthy workers or throttling workers that are misbehaving

The degree to which we guaran

[2017-07-10 23:53] jonasfj opened #83 "Rework interactive task responsibilities"
"typically" here means, this may differ from workerType to workerType, but that workerTypes should probably do something like this and document their behavior as it's a contract.

 * declareWorkerType should publish a json-e expression for transforming a `task.payload` to an interactive task, **typically** it:
   * strips side-effects like caches
   * extends the maxRunTime
 * Workers should publi

[2017-07-11 07:07] petemoore commented on #71
I think we've come full circle now. The original proposal was that provisioner provided a scope bearing a slugId (to guarantee uniqueness), and that the worker declared its workerId in a subsequent call which would then be uniquely bound to the slugId provided by the provisioner. The queue at that point was to take care of persisting the association between the two, to make sure that the same work

[2017-07-11 17:32] djmitche commented on #9
Happening this quarter!

[2017-07-11 17:32] djmitche commented on #9
https://bugzilla.mozilla.org/show_bug.cgi?id=1380028

[2017-07-13 19:24] jhford commented on #82
We had a meeting today and afterwards some of us continued to chat in IRC.  We started to come to a consensus about a possible path forward which we agreed on and would enable @helfi92 to start working on the dashboard.

This proposal is divided into two stages, creatively named stage 1 and stage 2.  I've taken the liberty to make the proposal a little more concrete.  Stage 1 is a concrete proposa

[2017-07-13 22:09] jonasfj commented on #82
This is really nice.. We have dummy workertypes when we test worker implementations. So having them disappear is nice :)

[2017-07-13 22:44] djmitche commented on #82
I agree.  I kinda want less than 5 days for dummy workerTypes, but we can debate time periods once stage 1 is underway.  At the moment I'm most concerned to hear objections to stage 1.

[2017-07-17 16:23] petemoore commented on #82
I like it!

I wonder if we should start a separate component for this, since the queue already has quite a large scope of responsibility:

* storing tasks
* deciding on work assignment (which tasks for which workers)
* artifact storage and retrieval
* task scheduling based on task dependencies

Not sure what we'd call this new component. The only (bad) names I could come up with are:

* Audit
* Au

[2017-07-17 16:27] petemoore commented on #82
Related to stage 2, I found this 2+ year old bug: [Bug 1164203 - generic-worker: Upload usage.js to references.t.n/workers/<provisionerId>/<workerType>/v1/](https://bugzilla.mozilla.org/show_bug.cgi?id=1164203) which documents some early discussion on the topic of registering payload schemas.

[2017-07-17 20:15] jonasfj commented on #82
Since we want to infer most of this from the `claimWork` end-point, I think it's natural that it lives in the queue. If we have cyclic dependent services we're often better off without micro services.

[2017-07-17 20:23] djmitche commented on #82
The list of workerTypes is, in essence, the list of queues -- so that at least makes a lot of sense in the queue service!

[2017-07-19 09:57] petemoore commented on #82
So technically it would be pretty simple for something to listen on the queue's pulse exchanges to do all this work, which would separate out the logic to a different component, which could easily be dropped/replaced/adapted without the queue being affected. But if I'm outnumbered, fine! My concern is we could be building a very big service that becomes difficult to untangle later (i.e. a couple o

[2017-07-19 12:58] djmitche commented on #82
The "Decided" tag here represents stage 1.  We can re-visit, or make a new PR, for stage 2.

[2017-07-20 07:48] walac opened #84 "Move away from tooltool"
Context: we have some jobs called `toolchain jobs`, that are responsible to build the basic tools to compile gecko, and more. These jobs build a third party software and make the binary tar ball available as an artifact. When a new toolchain job is created,, a gecko developer must manually download the artifact, upload it to tooltool and modify the relevant manifest files.

We can do better than t

[2017-07-20 12:40] walac commented on #84
glandium has [some work done](https://bugzilla.mozilla.org/show_bug.cgi?id=1382280#c3) for this

[2017-07-20 13:24] djmitche commented on #84
Tangentially related: it would be great if a docker image build could depend on another docker image build.  Those aren't in tooltool right now, but otherwise it's a similar issue.

[2017-07-25 13:13] djmitche commented on #79
@jhford what would you like to do with this RFC?

[2017-07-28 21:39] gregarndt commented on #8
Closing out issue, this I believe has been completed now.

[2017-07-28 21:57] gregarndt commented on #34
This is probably done.  @imbstack thoughts on closing this out?

[2017-07-28 21:59] djmitche commented on #8
Not really - the decision/action task bits are done, but the hooks, tc-github, and scriptworker bits are not.

[2017-07-28 22:02] gregarndt commented on #44
Work will be tracked in https://bugzilla.mozilla.org/show_bug.cgi?id=1244105

[2017-07-28 23:24] gregarndt commented on #8
ah sorry, I meant to close a different one.

[2017-08-02 17:20] djmitche commented on #84
@walac can you flesh out the proposal a little here?

Note that nalexander is working on building the android SDK as a task, too.

[2017-08-02 17:22] djmitche commented on #83
Related: @imbstack @jonasfj and I discussed loaners as actions, and mach commands to create/attach to loaners.  The idea would be to have loaners defined by actions, regardless of being accessed via treeherder, tools, or mach.  We also discussed having a fallback for cases where no action is present that would work in most cases -- similar to our current hard-coded approach.

[2017-08-02 17:24] djmitche commented on #80
@jhford if you want to add a little detail about non-adopted RFCs to the proposal, this might be ready for a final call for comment.

[2017-08-02 17:27] djmitche commented on #79
@jhford I'd like to close this out one way or another:
 * finish the RFC process with a final comment period; or
 * agree this is covered under normal etiquette and close directly

[2017-08-02 17:35] djmitche commented on #75
Sorry to let this sit for so long!

I don't understand all of them, but some make good sense, especially the breakpoint.  I'd like to start with the two currently in the proposal, and then we can look at adding more later.

I think there's value in having these sorts of "utility tasks" in some shared context that everyone has access to.  However now that I think about this, and now that I've gotte

[2017-08-02 17:39] djmitche commented on #74
I was wrong when I said this doesn't need to talk to provisioners -- in @helfi92's mockup it is showing provisioning information.  In the stage-1 implementation, I've listed provisioners as objects `{provisionerId: "xyz"}`, so we can go back later and add more fields.

[2017-08-02 18:45] walac commented on #84
In a few words, I want to replace the pattern:
* Download a package from an external source
* Upload it to tooltool
* Change some in-tree manifest/config/script file with new tooltool file hash
* Commit
By:
* Write a task that takes care of making the package available as an artifact
* Never worry about it anymore (well, maybe version bumps)

For tooltool package downloaded by mozharness, kind of

[2017-08-02 21:37] indygreg opened #85 "Support for task-level metrics"
"Collect metrics from automation" is a wheel that we keep reinventing. The following are used in Firefox CI:

* The Firefox build system uses psutil to monitor CPU, I/O, memory, etc throughout the build. Samples are taken every ~1.0s and recorded. The build system also emits special syntax log messages to denote "phases" and "events" so their times and resource usage can be isolated. This can emit

[2017-08-02 21:42] djmitche commented on #52
@indygreg said very similar things much better than I did in #85.

[2017-08-02 21:42] #52 closed

[2017-08-02 21:42] djmitche commented on #85
Where would you like this data to end up, ultimately?  Perfherder?

[2017-08-02 21:54] indygreg commented on #85
Perfherder would be a good initial repository for some data. But Perfherder is aimed at tracking specific per-repository metrics over repository time. It can't do things like track aggregate counts of events across all tasks. (Maybe it can in the database. But the UI is heavily tailored towards things like Talos results.) I feel like we're abusing Perfherder for things like tracking build times an

[2017-08-02 22:21] indygreg commented on #85
FWIW, I have a half-concocted patch to add some really hacky output parsing to `run-task`. For the unaware, `run-task` is a (currently minimal) Python script that we attempt to make the entrypoint of many Firefox tasks. It essentially handles filesystem permission normalization (for caches), permissions dropping, and VCS checkout. If `psutil` were available to `run-task` (easy enough: add it to th

[2017-08-04 10:26] srfraser commented on #76
Funsize also currently uses this. Bug for changes there: https://bugzilla.mozilla.org/show_bug.cgi?id=1385294

[2017-08-05 17:39] walac commented on #79
IMO, deleting/editing your own comment, fine. Edit or delete others' comments must never ever happen. This is, at best, a source of misunderstandings waiting to happen.

[2017-08-09 21:30] helfi92 opened #86 "Stage 2: provisioner, workerType, and worker metadata endpoints"
I'd like us to come to a consensus about the metadata endpoint discussed previously, namely Stage 2.

Copied from [#82 Comment](https://github.com/taskcluster/taskcluster-rfcs/issues/82#issuecomment-315177265):

Stage 2
--------
This would involve allowing creation of supplementary metadata for a given `provisionerId:workerType`.  Adding this supplementary metadata would be seen as purely optional

[2017-08-09 21:40] helfi92 commented on #82
RFC #86  has been created for Stage 2. Let's continue the discussion for that there.

[2017-08-09 21:47] #82 closed

[2017-08-09 23:06] jonasfj commented on #79
I think we can close it as:

If someone feels like normal etiquette has been violated that is likely a misunderstanding that is best cleared up with a 1:1 vidyo call... I suspect no amount of rules is going prevent misunderstandings.

Note: I still feel like editing a PR title is within reasonable behavior... But I agree, we should avoid editing and delete comments... I do occasionally delete my o

[2017-08-10 09:16] jhford commented on #79
If we agree that editing other people's comments is not something we do, then let's close it.

[2017-08-10 09:16] #79 closed

[2017-08-10 15:35] djmitche commented on #86
I think we would want to add metadata for provisioners and workerTypes.  Also, I don't think the trailing `/metadata` is necessary in the URL:

* `PUT /provisioners/:provisionerId`
* `PUT /provisioners/:provisionerId/worker-types/:workerType`

I suspect DELETE could be omitted (the objects expire naturally).

It might be nice to allow incremental updates of the metadata, rather than overwriting it

[2017-08-10 15:37] djmitche opened #87 "Actively manage AWS resources"
(comment to be expanded later)

This is the proposed UCOSP project to monitor resource usage related to workers and provisioning:
 * volume usage
 * instance counts
 * stray volumes, snapshots, AMIs

@jhford will be making a more detailed proposal

[2017-08-10 17:15] djmitche commented on #75
Pete's on PTO for a while, so I will wait until he's back to see if we can decide on this.

[2017-08-10 18:07] gregarndt commented on #44
This has been completed.

[2017-08-10 18:07] #44 closed

[2017-08-15 15:10] jhford commented on #86
Having a `DELETE` seems trivial to implement and would also allow us to delete data we know is invalid or if we have a system which does manage workers and knows it should be deleted.  Maybe this could be behind more restrictive scopes, but not having it feels like it would be unfortunate.

Regarding the route, the resource that we're working on is provisioner metadata, not a provisioner.  We're a

[2017-08-15 15:36] jonasfj commented on #86
Rather than `DELETE` can we have a `deprecated` field that can be updated to `true`..

[2017-08-15 15:58] jonasfj commented on #86
@eliperelman has a smart point that `DELETE` should change the `deprecated` field to `true`.

[2017-08-15 18:11] helfi92 commented on #86
In today’s meeting we discussed stage 2 and agreed on two main things:

The worker UI dashboard will have actions (reboot, disable, kill) and a list of the most recent tasks. Allowing users to  perform an action on a worker will be done in a substage (stage 2a).

With regards to the workerType and provisioner metadata, we agreed on the following consensus:

## Provisioners
`GET /provisioners` retu

[2017-08-15 18:14] jhford commented on #86
I thought the reason we weren't going to use `/metadata` named resources was that we were only going to support using `PATCH` to add data, but I could be mistaken.

[2017-08-15 18:25] jhford opened #88 "Format for Queue Actions"
We should figure out a format for how the actions stored in Queue Metadata should be structured

[2017-08-15 18:33] djmitche commented on #86
Yeah, I'm a little uncomfortable with PUT as well, not least because I see AWS provisioner setting a worker type's "description" field, while the worker itself sets the "docs" and "payloadSchema" fields.  We could allow both: PUT overwrites all data about a provisioner or worker type, while PATCH only updates the fields included with the request.

[2017-08-15 18:49] escapewindow opened #89 "workers should support explicit, verified inputs with a manifest"
We have a number of inputs that go into Gecko tasks:

- docker image
- tooltool artifacts
- toolchain artifacts
- previous builds
- pypi / npm / etc modules

and we define those in various ways: requirements files, tooltool files, docker image task definition locations, env vars, etc. Having to audit or verify the inputs to a task is a very complex ask right now.

If we could define explicit input

[2017-08-15 19:23] jhford commented on #88
My Proposal is a list of Action objects.  Each item in the list would need to be shaped like the following example:
[code]
The idea is that we provide enough information in here that UI builders can read our actions associated with a provisioner or worker type and draw them generically.  In this format, the caller of the action would be responsible for doing authentication through credentials it s

[2017-08-16 00:11] jonasfj commented on #86
This is why I suggested an etherpad, but here you go:
[code]

workertypes
[code]

Notes:
[code]

[2017-08-17 12:27] jhford commented on #86
We aren't declaring anything, why do any of the methods or scopes have declare in their name?  All of those fields are exclusively derived from their use in the claimWork handler.

[2017-08-17 13:02] djmitche commented on #86
The following fields aren't included in claimWork:
 * provisioners
   * description
   * stability
 * worker types
   * description
   * documentation
   * payloadSchema
   * stability

[2017-08-17 13:09] jhford commented on #86
Yes, which is why the original design which we agreed on was that this would be adding to a completely separate entity which was a metadata object associated with a provisionerId/workertype which would only be shown *after* it was seen by claimWork.

[2017-08-17 17:06] gregarndt commented on #86
docs and payload schema can change as we roll out new workers for a given worker type.  Will a worker only be updating the worker-type resource when it first starts? So a rolling upgrade of workers means that the newest worker's docs and payload schema trump all else in that worker type? or is it happening more frequently when claiming work?

[2017-08-17 17:14] gregarndt commented on #86
I'm still unclear why metadata needs to be a separate resource/object.  It's more information about the same resource...in this case a worker type, worker, or provisioner.  The metadata is not something that stands up on it's own but is more subdata for an already existing resource.  Considering it's part of the same resource, and other entities/clients can update it, PATCH makes sense since we wi

[2017-08-17 19:47] djmitche commented on #86
Yes, so a change to the payload schema or docs will appear as soon as we start deploying a new worker.  We're already in the position of having to be sure our schema changes are backward-compatible.  The "interregnum" when we have both old and new workers running is something that requires care in rollout. Declaring the schema just makes the issue a little clearer.

I expect that most rollouts, wh

[2017-08-17 23:24] jonasfj commented on #86
@djmitche, I suspect `PUT` is better, it really only requires that it's idempotent, nobody says we can't merge with existing entity..

One more problem:
 * True, we're mixing it so that workers and provisioners can call `declareWorkerType`
 * This adds responsibilities to workers (which is bad for security)
 * The alternative is hard, since many of our workers don't have schema before they start r

[2017-08-17 23:25] jonasfj commented on #86
On a practical note: I don't mind the data being part of the same entity.
As long as `documentation` and `payloadSchema` are stored separately in azure blob storage or S3, because those could easily get very big.

[2017-08-18 11:13] gregarndt commented on #86
As long as documentation and payloadSchema are stored separately in azure blob storage or S3, because those could easily get very big.

Agreed.  We'll store data behind the scenes as we see fit, but how that is represented through the API is as one resource entity.

[2017-08-18 16:34] djmitche commented on #88
I think that this is a reasonable idea for *actions*, that is, power-cycling a worker or killing all instances of a workerType.  I envision the dashboard showing a menu of options based on this specification.  Note that we will want to be able to specify actions for one level (provisioner / worker type / worker) at a different level.  For example, a provisioner might specify a worker-type-level ac

[2017-08-18 20:24] helfi92 commented on #86
PATCH is not ideal since it's not supposed to create a resource. PUT can create as well as perform a merge style update.

For documentation and payloadSchema properties, we could store them in the same table but have different views when designing the endpoints. When listing worker-types for example, we would omit `payloadSchema` & `documentation` but expose all when targeting a single worker-type

[2017-08-21 12:34] jhford commented on #86
The design we agreed to in the meeting we had on this was that only through claimWork would a provisioner/workerType be created.  The metadata was an extra place where we'd store information, seperate from the claimWork derived information.  This additional metadata would only be used as a respository of information *when* the corresponding resource was seen in the wild through claimWork.  This wa

[2017-08-21 13:02] helfi92 commented on #86
Correct, only through claimWork would a provisioner/workerType be created. Did we agree that the data about the entity would be stored in a separate table however? After all, it's data about the same resource.

[2017-08-21 13:06] jhford commented on #86
We can store it internally in the same resource, but that has nothing to do with the API we present.

I still think that since the docs and schema *already* need to be in a different entity, why don't we keep the actual entity as just the existence of the resource and store *all* of the other data in an s3 object/azure blob?

[2017-08-21 13:17] helfi92 commented on #86
We don't have to store docs and schema in a different entity. We can have the same REST resource, just different views. So when we list the worker-types for example, we would omit docs & schema but include them when fetching a single worker-type. Thoughts on that?

[2017-08-21 13:28] jhford commented on #86
From Jonas's https://github.com/taskcluster/taskcluster-rfcs/issues/86#issuecomment-323220461

I agree with this comment a lot, since we have no idea how large those things will end up being and azure-entities are not the right place for large objects.  Since we'd already need to store things in different places, we could store the claimWork derived data in the entity and all the metadata in the a

[2017-08-21 13:57] petemoore commented on #75
++ sgtm :-)

[2017-08-21 14:38] helfi92 commented on #86
I wasn't aware that azure-entities are not the right place for large objects. If that's the case, then it should be fine to store that information with azure-blob or s3-object. @djmitche Any objections on that? From the discussion, I see that @jonasfj and @gregarndt are ok with storing docs and payload outside azure-entities.

[2017-08-21 15:10] djmitche commented on #86
I think that's fine.

[2017-08-21 16:05] helfi92 commented on #86
OK, the consensus so far is to:
* Store the derived claimWork data in azure-entity
* Store metadata portion of the API on azure-blob or s3-object
* Use `PUT` to create/replace metadata and `PATCH` to modify it.

Next, I want to discuss the data a worker-type might want to display. Since we're going to display data from different provisioners, each provisioner worker-types might want to display dif

[2017-08-23 20:29] djmitche commented on #75
FCP ends August 30th.

[2017-08-23 20:45] jonasfj commented on #75
Okay, so this is a proposal for:

success/fail dummy tasks ?
Can't it just be a dummy task with task.payload.success = true/false?

Finally, can we call it: provisionerId: taskcluster or built-in?

[2017-08-23 20:46] jonasfj commented on #75
Off topic: limit on number of dependencies is possible too small. We could likely increase it, but it's probably best with postgres migration or something .

[2017-08-23 20:54] djmitche commented on #75
I like provisionerId `built-in`.  I don't mind putting the output in the payload, but then what do we name the workerType?  `immediate`?

Dependencies count is definitely off-topic :)

[2017-08-23 20:58] jonasfj commented on #75
crazy idea: it could be a json-e worker-type:

[code]
Async support in json-e would be neat as it would allow for fetching and grepping dependencies/artifacts on-demand...

[2017-08-23 21:59] djmitche commented on #75
That sounds more like a different kind of utility worker (sort of like lambda: one that doesn't run in any specific "environment" but just executes code given right in the task definition).  Interesting idea, but not what I'm going for here.

I feel like this is lacking motivation, really.  Without a strong motivation we seem to wander a bit.  I don't personally have a use for these workerTypes, a

[2017-08-23 22:13] catlee commented on #75
I think the only concrete use case we have is for the 'dummy' tasks to work around the dependency limit.

[2017-08-23 22:15] escapewindow commented on #75
I think status/notification tasks would be useful for porting releasetasks graphs, where status is just a single task you can monitor to see the status of all its dependencies.

[2017-08-24 06:29] rail commented on #75
One of the use cases for dummy workers would be grouping parallel tasks by some property, platform for example.
[code]

[2017-08-24 11:50] petemoore commented on #75
If that is the case, I think this is best solved by bumping the limit to something much higher, e.g. 10000 (assuming load testing shows no problems) and us parking the dummy tasks design.

[2017-08-24 12:45] djmitche commented on #75
OK, we'll *continue to leave the dependency-limit issue out for now* (emphasis mine).

@escapewindow and @rail have described another concrete use for the "succeed" workerType.  The notifications from that can come from taskcluster-notify, so this workerType doesn't need to do anything notification-related directly.  With `all-resolved` that notification could occur regardless of the succeed/fail

[2017-08-24 12:46] djmitche commented on #75
..specifically @jonasfj @petemoore

[2017-08-24 14:21] djmitche commented on #89
I'm not sure what this means.  I don't think we could limit the inputs a task could consume..

Can you make a more detailed proposal?

[2017-08-24 14:44] escapewindow commented on #89
If we have this, we could potentially then set up the firewall to disallow outbound connections during the task to force limiting the inputs a task could consume. That's not a requirement, but this RFC would be a first step towards being able to do that.

What details would you like?

Essentially, CoT verification of inputs is always going to be a patchy, hacky thing as long as the task can downlo

[2017-08-24 14:50] djmitche commented on #89
What I don't understand is, we can write as much as we want in the task definition, but the task is still arbitrary code and can do what it wants.  We can firewall a little, but most stuff we talk to is on Heroku or S3 or EC2 so that's a pretty blunt instrument.  It certainly couldn't, for example, limit to tooltool artifacts with a particular hash or artifacts from a whitelist of taskIds.

[2017-08-24 14:52] escapewindow commented on #89
Sure, someone can add something rogue. But for the official inputs, e.g. the build for a repackage task, or the complete mars for a partial regeneration task, we can put them in and make sure that their shas/sigs have not been modified before download. Otherwise we have to put in breadcrumbs for

- repackage: "this is the sha I downloaded"
- build: "this is the sha I uploaded"
- signing: "let me c

[2017-08-24 15:39] escapewindow commented on #89
This could be through something like the artifact service I've seen comments about. Scopes could potentially allow for modifying that, but signing could then compare the sha from the build task's CoT artifact and compare it to the sha from the artifact service, rather than having to download and verify every artifact. For signing to know that it needed to verify that artifact's sha, it would need

[2017-08-24 16:44] helfi92 commented on #86
Meeting notes from today: https://public.etherpad-mozilla.org/p/hassan-worker-dashboard

[2017-08-30 14:47] jhford commented on #80
The more I think about it, the more I think that non-adopted RFCs should probably not be in the repository.  Since RFCs are so tied to the time and environment they are proposed in, it feels like maybe a closed PR is the best place for them to live.  Since PRs will be github references, they will still be available through git.

Are there any more comments about this change or this RFC in general?

[2017-09-07 22:01] djmitche commented on #37
dupe #72

[2017-09-07 22:01] #37 closed

[2017-09-07 22:15] djmitche commented on #38
How would this interact with the proposal to unify a homepage, tools, and docs into a single site?  I'm kind of leaning that direction, instead.

[2017-09-11 12:40] helfi92 commented on #86
Consensus can be seen in the meeting notes etherpad's link.

[2017-09-11 12:48] helfi92 opened #90 "Disabling/enabling a worker"
One of the actions we want to perform on a worker is disabling/enabling it. Disabling workers allows the machine to remain alive but not accept jobs so that a user could perform diagnostics/debugging on the machine. Enabling workers on the other hand will resume accepting jobs. Presently, when claimWork is called, a worker is updated with new tasks.

I am suggesting extending the following 2 endpo

[2017-09-11 18:40] helfi92 commented on #90
@djmitche Thoughts?

[2017-09-11 20:33] djmitche commented on #90
That sounds good to me.

As a note, we should be careful to mark a worker as seen in claimWork, even if it's disabled.  Otherwise a disabled worker could expire, thus deleting its "disabled" property, and then on its next claimWork it would get a task assigned.

[2017-09-11 20:35] djmitche commented on #90
Also, i wonder if we should add something to the claimWork response to indicate to the worker that it is disabled.  I'm not sure what purpose that would serve, and what it would look like.

[2017-09-11 21:28] gregarndt commented on #90
I can think of some rather terrible ideas but they probably should just live in a dumpster.

One is that the worker can disable shutting itself down at the end of a billing interval.  I imagine that disabling an AWS machine means you want to diagnose what's going on and if you're fighting for some floating place in the billing cycle, that's going to be rather hard.

[2017-09-12 14:16] helfi92 commented on #90
@djmitche If a worker is disabled and is approaching expiry time, could we instead show a "Delay expiration by a day" button to give users more time to debug a worker?

[2017-09-12 15:51] djmitche commented on #90
That would still leave the no-action default case as having a disabled worker re-enable itself..

[2017-09-12 20:01] djmitche commented on #90
Hm, thinking further on the disabled expiration issue.. let's say buildduty marks a host as disabled, takes it out of service, and sends it to the manufacturer for repair.  When it returns 3 weeks later, I think buildduty would expect it to remain disabled.  But it hasn't been calling claimWork, so it has probably expired (depending on what its expiration was set to).

Maybe this is something we s

[2017-09-12 20:08] djmitche commented on #90
BTW, do we ensure that "expires" only ever moves forward in time?  that is, if I set someworker.expires = June 15, 2050, will that get set back to 3 days from now next time it calls claimWork?

[2017-09-12 20:30] helfi92 commented on #90
`claimWork` will only update the expiration property if [workerinfo#L16](https://github.com/taskcluster/taskcluster-queue/blob/master/src/workerinfo.js#L16) is `true`. To change the expiration time backward, you have to make use of `declareWorker` and pass it the new expiration.

[2017-09-13 13:25] djmitche commented on #90
Perfect.

[2017-09-20 13:31] djmitche commented on #42
This is part of the fall's Outreachy project.

[2017-09-20 13:32] djmitche commented on #43
@gregarndt I think we finally settled on the last bit (remove all but esr52 caches).  Did that get done?

[2017-09-20 13:34] djmitche commented on #8
Remaining:
 * hooks -- that's #66
 * scriptworker -- not a TC thing (and underway AIUI)
 * tc-github [bug 1335915](https://bugzilla.mozilla.org/show_bug.cgi?id=1335915).  I don't think that needs an RFC to track it.

Aside from that, JSON-e itself is pretty much stable.

[2017-09-20 13:34] #8 closed

[2017-09-20 13:44] eliperelman commented on #38
Agreed, I think we can close this since we decided at the SF 2017 All Hands to unify these eventually.

[2017-09-20 13:44] #38 closed

[2017-09-20 14:26] djmitche commented on #42
This is part of the fall's Outreachy project.

[2017-09-20 14:27] djmitche commented on #66
Part of this year's Outreachy

[2017-09-20 14:51] djmitche commented on #88
Updating from the previous comment, for the "information" like number of pending instances, we have agreed to just special-case `aws-provisioner-v1` and will revisit it when we have a better idea of what dynamic data we need.

I'd like to make an alternative suggestion.  Action definitions would look like this:
[code]

Actions have a "level" that is one of provisioner, worker-type, or worker, indi

[2017-09-20 21:29] gregarndt commented on #43
Hasn't been done yet.  I have to get time to audit what might still be using it somehow.

[2017-09-20 21:30] gregarndt commented on #43
It's also one of the remaining pieces for deprecating the scheduler too

[2017-09-21 17:19] gregarndt commented on #90
Completed in: https://github.com/taskcluster/taskcluster-queue/pull/198

[2017-09-21 17:19] #90 closed

[2017-09-22 14:20] djmitche commented on #75
https://bugzilla.mozilla.org/show_bug.cgi?id=1318253#c3 -- a use of a dummy workerType (and using an outdated workerType at that)

[2017-09-26 20:12] djmitche commented on #23
This comes up a lot.  Should we push to do this in Q4?

[2017-09-26 20:13] djmitche commented on #48
We keep talking about how nice it will be when we have these.. should we push to work on this in Q4?

[2017-09-26 20:13] djmitche commented on #29
@jhford is this solved by the artifact service rollout you're working on?

[2017-09-26 20:18] djmitche commented on #29
Ah, I think this is a dupe of #7.

[2017-09-26 20:19] jhford commented on #29
Nope, this is not really related to #7 in that way.  This is about actually having a different service for artifacts from the queue.

[2017-09-26 20:24] jhford commented on #56
I still think would be value to having an endpoint which you can call that gives you a JSON list of the URLs for the artifacts on that task.  That way, you could fetch that from the index, and since they'd be resolved to immutable links, you could safely support the "latest" case where all the various artifacts are fetched safely.

Otherwise, I guess there's not much to do here.

[2017-09-26 20:41] djmitche commented on #86
@helfi92 I think this is complete?

[2017-09-26 20:42] djmitche commented on #21
@jonasfj what's left for this?

[2017-09-26 20:47] djmitche opened #91 "Store infra configuration in a distinct repo that does not ride trains"
## Motivation

We have a handful of things that we often change, and that change globally, not in a ride-the-trains fashion:

 * worker-type names
 * server fingerprints (e.g., the hg server)
 * AMI IDs (like AMI sets -- and maybe we don't use this repo, depending on @walac's deployment process)
 * VPC configuration (subnetIds per region, security groups by name per region, etc.)
 * project config

[2017-09-26 21:05] imbstack commented on #23
I'd be quite happy for this to be my next goal after action tasks wrap up!

[2017-09-26 21:31] armenzg commented on #56
I believe @jhford 's proposal has value. I would want an API like it, however, I must say that I have no current needs for it.

[2017-09-26 21:40] imbstack commented on #34
The last step is #23 which we'll track in that ticket. I'll close this now!

[2017-09-26 21:40] #34 closed

[2017-09-26 21:41] gregarndt commented on #9
Getting closer to complete! \o/

[2017-09-26 21:44] gregarndt commented on #7
@jhford Some of the items here are complete, can you update the checklist for what has been done so far and what remains?

[2017-09-26 23:00] jonasfj commented on #48
A few notes on how tc-auth does scope expansion...

We have data like:
[code]
Notice, that expanding scopes for a client is just like expanding any other
set of scopes. And if you ask me it would be architecturally cleaner to not
grant scopes to clients, but implicitely give them the scope `assume:client-id:<clientId>`.

Nevertheless, for the topic of scope expansion we have `role -> [scope]`, and

[2017-09-26 23:22] jonasfj commented on #48
So now let's talk about the problems with parameterized roles:

A) Circular roles, like:
[code]

Expansion becomes:
[code]

Expansion should be allowed to expand other roles, but recursive roles should
never be allowed.

B) Roles and *-scopes, example:
[code]
Common sense implies that scope `assume:Abc*` should become: `assume:Bbc<...>C`
where `<...>` is anything allowed inside the scope.

But we

[2017-09-26 23:26] helfi92 commented on #86
Completed in:

[taskcluster/taskcluster-queue/pull/186](https://github.com/taskcluster/taskcluster-queue/pull/186)

[taskcluster/taskcluster-queue/pull/187](https://github.com/taskcluster/taskcluster-queue/pull/187)

[2017-09-26 23:26] #86 closed

[2017-09-27 06:39] jonasfj commented on #21
I think it's done... We still have some workers to port over...

Ckousik is doing that as we speak... But the proxy is written and deployed, so we could strictly speaking close this...

[2017-09-27 06:51] jonasfj commented on #23
@bstack, that's also a great opportunity to do what Pete talked about this morning... In fact if touching this code you might as well do parameterized roles...

Let's talk Thursday.. I suspect we could indeed make some trie simplifications and optimizations so we don't have to construct the entire scope sets...

[2017-09-27 12:44] djmitche commented on #56
Makes sense. That's two calls right now (fetch taskId from the index, fetch artifacts from queue).  @imbstack just had to do this to enumerate action tasks.  Do you want to update this RFC accordingly (or maybe start a new one, or maybe just declare that minimal and non-controversial and file a bug?)

[2017-09-27 13:02] djmitche commented on #21
OK - let's keep it until we have the workers using it and have shut off inbound network access.

[2017-09-27 14:10] jhford commented on #56
sure.  I doubt that endpoint would be controversial, so I've filed https://bugzilla.mozilla.org/show_bug.cgi?id=1403564

[2017-09-27 14:10] #56 closed

[2017-09-27 16:20] djmitche commented on #91
Looking for feedback from anyone but specifically @indygreg, @jonasfj, @walac, and @gregarndt .

[2017-09-27 16:46] indygreg commented on #91
I'm about to disappear for a few weeks, so don't expect a reply...

I want to challenge the assertion that "doesn't ride the trains" precludes the use of a repo like mozilla-central. It is certainly possible to always pull the latest commit from a named repo or branch. If this repo is shared, we can limit who can make changes to specific directories in that repo as a way of ensuring untrusted peop

[2017-09-27 18:30] jonasfj commented on #91
* Limiting write-permissions to more than just `scm_level_3` sounds nice
 * Can we limit a write-access to a folder in mozilla-central? (how? is it transparent?)
    * Would we have to invent new config/infrastructure to manage such access permissions...
    * Benefit of using a different repo is that we can manage write-permissions using repo-access

---

I see some benefits in this... But breaka

[2017-09-27 18:30] jonasfj commented on #91
Note: I **love** the idea. This is much better than using secrets to store the hg fingerprint.

[2017-09-27 18:50] catlee opened #92 "Helper methods or library for submitting large graphs of tasks"
Mozilla's in-tree task generation logic has some code to submit tasks in parallel, obeying task dependencies.

I'm sure there are other places where people would want to submit large graphs of tasks and could benefit from being able to re-use this logic. It could also be helpful to provide the dummy task injection logic as a reusable module, to work around fixed task dependency limits.

I'm not su

[2017-09-27 19:37] walac commented on #91
This has limited use. Since anyone with scm level 3 can push to m-c (and possibly other branches too), they can always push new configs to a private repo and change in tree code to refer to this other repo, in which (s)he has full access.

Another sec related concern: say we change AMI ids to be stored in this repo. Today, we don't remove old AMIs when they are replaced by new ones. Suppose we hav

[2017-09-28 00:24] jonasfj commented on #91
I din't think the goal is access control, as much as it is to keep some config from riding the trains. Access control would then be needed because said config would be pulled in by all branches.

Not really, do `scm_level_3` have access to all branches? If not you can make said branch reference a private fork of this config repo..

[2017-09-28 09:55] walac commented on #91
I am not sure, but I believe so. Anyway, in my threat model, the attacker could use try (which requires scm_level_1).

[2017-09-28 21:00] jonasfj commented on #23
notes from bstack and me talking:

[code]

[2017-09-28 21:55] jonasfj opened #93 "Implement queue-side coalescing (superseding without worker support)"
We extend tasks with:
[code]

Tasks without `task.stack` will behave as if they were assigned an exclusive stack name.

`claimWork` will pick tasks by:
 1) Find the highest priority task (FIFO if there are multiple tasks with same priority)
 2) If another task with same `task.stack` and higher `task.rank` exists, it supersedes the task picked...

In-tree the decision task will use a per-branch str

[2017-09-28 22:22] djmitche commented on #93
The current coalescing supports a minimum stack depth and a minimum stack age, both of which serve to prevent tasks from being coalesced when not really necessary (e.g., if two pushes land one after the other, but otherwise we are well within capacity).

[2017-09-29 15:17] djmitche commented on #91
Discussion has gone on a few threads here.  Let me see if I can react to each individually.

## Access Control

Ultimately, this is governing what happens with source repos that are freely modifiable by anyone with level 3 access, so allowing level-3 doesn't necessarily increase access.  I'd be happy with tighter controls, either now (if it's easy) or later (if it's hard).

Regarding risks from tr

[2017-09-29 15:52] djmitche commented on #77
#76 isn't done yet :)

[2017-09-29 16:03] djmitche commented on #9
I'll be turning off Okta support today, but Auth0's up and running and has been for a few days now.

[2017-09-29 21:06] djmitche commented on #9
OK, Okta's off.  We're stlil providing auth to other services, but that will end soon enough.

[2017-09-29 21:06] #9 closed

[2017-09-29 21:11] djmitche commented on #93
RFC #65 is the postgres migration, a prerequisite to this issue.

[2017-09-29 21:15] djmitche commented on #92
@catlee can you morph this into a more concrete proposal? This might make a good student project or a few mentored bugs.

I expect this would be in Python, and probably makes sense as a distinct library from taskcluster-client.py.  Maybe taskcluster-graph-utils?

The dummy task injection would be a bit more natural if #75 lands.

[2017-09-29 21:25] djmitche commented on #88
@helfi92 I assigned this to you.  Once it's morphed into a proposal, we can label it as such and start moving it toward a decision.  I'm happy to talk offline about the merits of the two ideas on the thread so far.

[2017-09-29 21:29] djmitche commented on #89
So if I can boil this down, the idea is to have a standard way for a task to describe its "upstream" inputs.  This would make CoT verification easier, and also make task implementation easier since the worker would download those inputs before beginning the task.

Generic-worker supports something like this in the `mounts` property - it can even unzip or untar things.

@escapewindow can you have a

[2017-09-29 21:34] djmitche commented on #65
I'm in favor of this, but I tihnk at least two members of the team should go to some postgres admin training.  @selenamarie may be able to recommend something?  Ideally we'd have a good knowledge of things like sharding, replicas, explaining queries, when to use views and triggers, and so on.  And probably a half dozen things with which I don't even have a passing acquaintance.

I think a proposal

[2017-09-29 21:40] djmitche commented on #62
The build/ci-configuration repo - #91 - might be the repo in question.  I would shy away from having that repo generated workerType definitions as task attachments, preferring to have code in-tree that generates those definitions and, optionally and given appropriate scopes, modifies them upstream.  But all of that just covers gecko.

The other direction to go here would be something non-gecko-spe

[2017-09-29 21:41] djmitche commented on #61
Tc-worker is certainly more "prime time" now.  Maybe it's time to think about this again?  I think this will be easier to solve than #51 using something like what @jonasfj suggested in the previous comment.

[2017-09-29 21:43] djmitche commented on #59
I'm leaning toward "we shouldn't do this".  @jonasfj do you still feel strongly in favor of this?  I think that this *and* parameterized roles means a lot of complexity, and I'm not sure we need it all.  We've survived for a long time without either one, after all :)

[2017-09-29 21:49] djmitche commented on #49
I think #65 would be a prerequisite here, although we would also want to store historical data, and probably want a dedicated read replica.

What I don't really have a vision for is, what does the UX look like?

One option might be similar to Trac (which I hate for many reasons, except this): users with enough privileges write "canned" select queries with names and parameters, and then those queri

[2017-09-29 21:56] djmitche commented on #36
Superseded reports would fit this mold, too.

This might make a good student project!

Open question: does it make sense for this to be a bytestring, or should we require that it always be JSON data?  The latter would save a few steps uploading and downloading it, and probably eveyrone wlil store json there anyway..

[2017-09-29 21:57] djmitche commented on #31
I'm not in the loop on this discussion, but -- is there enough detail known on this project to sketch out a high-level proposal?

[2017-09-29 22:02] djmitche commented on #70
@jonasfj what do you think of this?

@jhford this might be a good lightweight thing to accomplish in Q4?

[2017-09-29 22:05] gregarndt commented on #31
I think there are two sets of discussions happening about this that need to converge into a single design. (cc @jonasfj @imbstack @jhford @petemoore )

[2017-09-29 22:16] djmitche commented on #84
I'm inclined to say this is something Gecko should aim for, and probably falls in the build and PI teams' areas (build for inputs to the build process, PI for inputs to tests).  I think the alternatives to tooltool are complete and fairly well-known at this point, so it's just a matter of encouraging new uses not to use tooltool, and migrating older stuff away from tooltool gradually.

I'm not sur

[2017-09-29 22:19] djmitche commented on #80
No more comments, it seems -- final-comment?

[2017-09-29 22:49] jonasfj commented on #70
Why not just label them `experimental` and scope then with something like: `queue:internal:...`

IMO, I'm not sure we need these things... For exposing information without a fully thought through API I propose `stability: experimental`. Do we need another concept for this?

Note. For things like SQS stats, etc.. use statsum/signalfx... We have a great setup with tc-lib-monitor.

For things like pu

[2017-09-29 23:06] escapewindow commented on #89
I think `mounts` is good, in that it downloads something for the task. It seems to be missing the sha verification. The only ways I can currently think of doing that are:

a) an artifacts service that stores and returns artifact shas (we'd need to verify no one is modifying the artifacts + shas at rest), or
b) referring to the chain of trust artifact. If we verify the CoT sha + signature, that's o

[2017-09-30 16:10] djmitche commented on #70
Some services are inherently more robust than others, I think -- and the services John works on interface with some inherently not-very-robust things (read: AWS).

I see this proposal as providing a way to build useful debugging / fixing tools that do not require `heroku run` and/or writing custom scripts.

It provides a nice boundary between public interfaces -- that provide a nice facade with a

[2017-09-30 17:34] jonasfj commented on #70
Yeah, okay that makes sense...
And yes, I agree that some APIs makes it hard to be robust :)
I guess this sort of thing could be useful in giving us more insight when AWS refused to give us instances...

Maybe `stability: private` is a good way to indicate this.
Basically saying it not part of the public API contract, whether it's used for a callback to expose debug information doesn't really matt

[2017-09-30 19:15] walac commented on #84
The original intention of this RFC was to build to support in Taskcluster in tree code, but as this has been already done, you are right, closing it.

[2017-09-30 19:15] #84 closed

[2017-09-30 19:36] jonasfj commented on #70
Okay, so maybe we do want something like `stability: private` which:
* should be omitted entirely from the docs site (still present in references?)
* should have no expectations of forward or backward compatibliity
* should be protected by scopes only the TC team has (`internal:<service>:<...>` like `internal:queue:expire-artifacts`
* should not have a tools UI that are visible if you don't have s

[2017-09-30 21:53] djmitche commented on #70
That sounds solid to me.  Minor comments:
 * APIs should be present in references so they are usable in generated
clients
 * I think we should leave it open whether to have schemas or not.  They
might still be useful for input, but for output it's often easiest to just
dump an internal data structure, and not have to update schemas when that
structure changes.
 * To be clear, we're agreeing that r

[2017-10-02 13:57] petemoore commented on #89
For artifact SHA validation, we can update generic-worker (and other workers) to use the new Artifact API from #7 that jhford has been working on. This should take care of SHA validation of taskcluster artifacts.

For url SHA validation, we could make the sha-256 (or other algorithm) value an optional parameter in the payload, such that task will fail if checksum is not correct. Chain of trust cou

[2017-10-02 20:16] jonasfj commented on #59
I agree... let's close this... this is something we can always do later to add more power if we need it...

[2017-10-02 20:16] #59 closed

[2017-10-02 20:18] jonasfj commented on #61
yeah, tc-worker with qemu engine is the future for building docker images. Once it lands in-tree we'll have stable workerType people can use too.

[2017-10-03 15:04] djmitche opened #94 "Document schemas with swagger / OpenAPI"
We currently use a bit of a hand-rolled reference structure, which means that automated tools (such as ZAP) can't automatically consume it.

This was discussed in https://bugzilla.mozilla.org/show_bug.cgi?id=1145220#c1.  It will need to be fleshed out a little more before being presented to a student, but at least it's an RFC now.

[2017-10-03 18:03] escapewindow commented on #91
I agree with the proposal. I'm not 100% clear if ci-configuration is for gecko only, and we have a separate repo for standalone github projects; also, if we get a second large consumer of the taskcluster-as-a-service production cluster, are they going to have a separate ci-configuration repo, or will gecko and non-gecko configs live together? Either way, it seems like separating the taskcluster co

[2017-10-03 18:08] djmitche commented on #91
As conceived, this would be Gecko-specific.  Smaller projects and potential large consumers would be left to their own devices.

It's a little awkard to call this a Taskcluster RFC, since it's not really about Taskcluster proper, but it's part of our responsibilities to the larger firefox-ci effort.

[2017-10-05 08:58] lissyx opened #95 "Easy trigger path for non allowed collaborators"
Consider a repo Github with TaskCluster and the default configuration of `allowPullRequests`. When someone (new contributor) does a PR against us, TaskCluster will refuses to perform anything.

Current workflow implies that one collaborator would have to trigger the test by himself, by doing a new PR. While it works, it may become quickly non scalable. It would be great if one known collaborator c

[2017-10-05 13:44] djmitche commented on #95
Thanks!  I moved this to https://github.com/taskcluster/taskcluster-github/issues/214 - I think it's a good idea, something we've talked about informally, and is small enough (relative to TC as a whole) that it doesn't need to go through the RFC process.

[2017-10-05 13:44] #95 closed

[2017-10-06 16:38] eliperelman opened #96 "Use GraphQL from web applications to interact with Taskcluster APIs"
### Edit

Given the priority of redeployability, the team has made the decision that this will not be considered to be included as an official API provided by services until after the first redeployable release. This is to ensure that work on GraphQL does not block or impede momentum on redeployability.

As such, I am re-proposing a solution for using GraphQL only from our web application, which i

[2017-10-09 13:33] djmitche commented on #96
I like this too!  It might require a tighter data model on the backend, though.  We don't really do any of the referential stuff that REST APIs typically use.

[2017-10-09 16:48] djmitche commented on #91
Final comment period will last for one week.  If you think there's something here on which we do not have agreement, please speak up during that time!

[2017-10-10 15:20] eliperelman commented on #96
Also may be relevant: https://facebook.github.io/relay/

[2017-10-10 19:33] djmitche commented on #65
This quarter:
 * Learn us some Postgres for great good
 * Design the implementation
   * Schemas
   * Deployment / operations model (read-only replicas? Expiration? etc.)
 * Find hosting (maybe Heroku, maybe not)
 * Plan transition (we'll need to be in both Azure and Pg for a little while..)

To the end of the first bullet point, I emailed Selena

[2017-10-11 16:57] helfi92 commented on #88
Both proposals look good to me, but I am leaning more towards the second one and think this can easily be integrated.

Each provisioner, worker-type and worker will have an added property defined as such:

[code]

For the following `GET` URLs:

[code]
, we would have the following response:

[code]

Then whenever someone performs an action, we take the action URL and send the user's scope to the e

[2017-10-12 14:12] eliperelman commented on #96
Nice introduction to GraphQL: https://blog.pusher.com/rest-versus-graphql

[2017-10-12 16:35] eliperelman commented on #96
Had a meeting today over Vidyo to discuss this more in-depth.

Attendees: @eliperelman @helfi92 @djmitche @imbstack @jonasfj @walac

**What problems currently exist that GraphQL may have a solution to?**

- Right now we have poor database performance and sub-optimal queries when doing large lookups from Tools
- Changing APIs for Tools' benefit creates blockers against the backend

**Unknowns about

[2017-10-12 16:48] djmitche commented on #88
This would need some good documentation similar to https://docs.taskcluster.net/manual/using/actions (and its sub-pages).  Should we make this a proposal?

[2017-10-12 18:44] helfi92 opened #97 "Provisioner, worker-type & worker actions"
To implement actions, the proposal is:

Each provisioner, worker-type and worker will have an added property defined as such:

[code]

Actions have a "context" that is one of provisioner, worker-type, or worker, indicating which it applies to (so this action would appear in a menu for a specific worker). Actions can be defined at any context higher than or at the action's level -- so a worker type

[2017-10-12 18:45] helfi92 commented on #88
Continued in https://github.com/taskcluster/taskcluster-rfcs/issues/97 so that the current evolved proposal is the first comment for others to see.

[2017-10-12 18:45] #88 closed

[2017-10-12 20:53] jonasfj commented on #97
I like this alot... Lets make it happen :)

[2017-10-12 21:01] djmitche commented on #16
#9 turned out to not really help this along at all.  We can support logins with github, but not *linked* logins so you can have one session with both LDAP-related and github-related scopes.

[2017-10-13 14:18] jhford commented on #97
Can we add a field that shows whether the action is a "safe" action to take?  E.g. we probably want to have a "Kill-All Worker Type" button appear red with a exclamation point, but a "Show Details" button be blue/green.  Maybe "safe|mutator|danger"... i don't care, but it should be easy to show which are actions which should cause concern for the user vs. which ones have no major effect.

[2017-10-13 14:50] djmitche commented on #97
That seems reasonable.  I'm not sure what the definitions would be, though.. could you spell those out a bit?

Note that these don't return anything in the HTTP response, so "Show Details" wouldn't be an action.  But "Enable Debugging" might be "safe".

[2017-10-13 20:08] djmitche commented on #48
I'd like to focus furst on the expressivity of this, then come back to think about implementation efficiency.  I'll build a mock-up to play with some ideas.

[2017-10-13 21:39] jonasfj commented on #97
@helfi92, can we define actions as returning some JSON blob, then the UI can just display that as JSON... Sure it won't be a nice UI, but it's decent for showing how long time since a spot instance was ordered, or what the spot-price is, etc... tiny bits of fun meta-data we might like to expose.

I think we should do this the same way as we do in `actions.json`. If you want to have special UI for

[2017-10-13 21:40] jonasfj commented on #97
@helfi92, also instead of calling it `level: 'provisioner|worker-type|worker'`, how about we call it `context: 'provisioner|worker-type|worker'`.
Since it specifies the _context_ with-in which the action applies, does that make sense?

[2017-10-13 21:58] helfi92 commented on #97
I think that's a great thing to have. It doesn't hurt to have.

[2017-10-14 12:46] djmitche commented on #97
We had talked about exposing "dynamic data" in some other, as-yet-undecided way.  We temporarily hard-coded "aws-provisioner-v1" with its pending and running counts to work around that.

I'm mildly opposed to using "actions" as data-getting methods, and I'd like to take some more time to think about and discuss that.  Could we leave the return value for actions as `{}` for now with the option to e

[2017-10-16 14:00] helfi92 commented on #97
For the initial implementation, we could leave the return value for actions as `{}` as @djmitche suggested.

@jhford we can add a `severity` field to an action which takes an enum `safe|warning|danger`. `safe` can be a blue color, `warning` can be yellow and `danger` can be red.

[2017-10-16 14:48] jhford commented on #97
what if we define the return value to "the entire contents of the response to the actions request" and let the consumer figure it out...  We could also allow a "response schema id" value in the actino definition which says what the schema is expected to be in the shape of.  If the schema id matches one that the UI is capable of rendering, it does so.

[2017-10-16 15:53] djmitche commented on #97
I really don't like the idea of "actions" being getters of dynamic data.  Especially since I think in most cases we would end up *polling* those actions.  Maybe I'll be convinced otherwise, but I'd rather not block this particular proposal on deciding how we handle dynamic data.  So yes, that's an option, but not one I think we need to consider in this RFC.

[2017-10-16 21:26] djmitche commented on #91
This is a stretch goal for me for this quarter, so no guarantees this will move quickly -- but at least the plan is clear.

[2017-10-17 00:30] jonasfj commented on #97
yeah, let's leave that for another day...

[2017-10-17 18:32] djmitche commented on #43
https://bugzilla.mozilla.org/show_bug.cgi?id=1409260 is removing some uses of tc-vcs that remain in trunk.

[2017-10-17 21:46] djmitche commented on #48
I looked for the stuff we have in place that might use this -- mostly from https://github.com/taskcluster/taskcluster-admin.

https://github.com/taskcluster/taskcluster-admin/blob/4c4a707295715a98d4225f2be030205728088b18/src/make-gecko-branch-role.js#L44-L57
https://github.com/taskcluster/taskcluster-admin/blob/4c4a707295715a98d4225f2be030205728088b18/src/make-project-admin-role.js#L17-L38

In the

[2017-10-17 22:09] djmitche commented on #48
B, above, gives me pause.  Let's imagine we had something like

`worker-type:*` -> [`queue:re-prioritize:<..>/low`]

specifically where something "important" follows the `<...>`.

If we grant `assume:worker-type:aws-provisioner-v1/gecko-1-b-win2012`, things work as expected.  But maybe we get creative and grant `assume:worker-type:aws-provisioner-v1/gecko-1-b-*`, and that implies `queue:re-priorit

[2017-10-18 01:45] djmitche commented on #48
It's worth noting that we don't currently have any scopes where we would want `<..>/something-important` -- as I mentioned in the previous comment, at most it's `<...>/*` or `<...>:*`.  Still, it poses a risk.  I don't think we should special-case `<...>P*` where `P` is a punctuation character, or anything crazy like that.

[2017-10-18 08:46] jonasfj commented on #48
We need special case handling for (B).
I would define it as the * expanding and eating the important part after...

Also we have lots of cases where we want <...>SomeSuffix.
Examples include "queue:get-artifact:<...>/" in said case / is the
SomeSuffix.

On 17 Oct 2017 18.45, "Dustin J. Mitchell" <notifications@github.com> wrote:

[2017-10-18 14:29] djmitche commented on #48
Is that different from the proposal you made earlier, on which I was commenting?

I think the that SomeSuffix is often punctuation, which is what led me to the `<...>P` special-case.  That seems less dangerous but more of a hack.

[2017-10-18 19:39] djmitche commented on #48
I wrote up a test case to demonstrate this, assuming that we put metadata for each service in a different bucket:
[code]

[2017-10-18 23:07] djmitche commented on #48
I made [a thing](https://github.com/djmitche/taskcluster-auth/blob/7caeefb2be945322a0fcd294486c70fcde53aecf/resolver.py) to play around with this.  I'm concerned with definitions more than efficiency right now -- I think it's `O(n**4)` :)

[2017-10-18 23:07] djmitche commented on #48
https://github.com/djmitche/taskcluster-auth/blob/7caeefb2be945322a0fcd294486c70fcde53aecf/resolver.py#L316-L334

[2017-10-18 23:12] djmitche commented on #48
The resolver is [here](https://github.com/djmitche/taskcluster-auth/blob/7caeefb2be945322a0fcd294486c70fcde53aecf/resolver.py#L178-L211) and if you can see through my hacked-together implementation, it solves the infinite recursion problem by doing cycle detection: if a particular scope is the *result* of application of a particular parameterized role, then that role is not applied again.

The tes

[2017-10-19 20:16] djmitche commented on #48
We had a [long chat about roles](https://public.etherpad-mozilla.org/p/jonasfj-dustin-parameterized-roles) (and administration and whatnot too).  We determined:

 * (A) we will implement atomic commits, and then forbid reference cycles in roles.  Likely Postgres is the right backend for atomic commits, rather than something cloud-y.
 * (B) We convinced ourselves that *in practice* scopes expanded

[2017-10-25 05:58] jonasfj opened #98 "Sudo service"
Note: [bug 1312915](https://bugzilla.mozilla.org/show_bug.cgi?id=1312915) suggests this is merged into issue #45, I'm not sure..

### taskcluster-sudo, scope elevation service for admins

Allows for a client with scopes on the form:
  `sudo:<email>:<scope>`
To obtain temporary credentials that cover `<scope>`, if said client can get
duo 2FA sign-off from LDAP user identified by `<email>`.

As an a

[2017-10-25 14:41] djmitche commented on #98
As background, when I first brought up the "sudo" idea it was thoroughly rejected in favor of accounts.  Things have changed since then!

[2017-10-25 14:46] djmitche commented on #98
Will it?  I think that will use the temp creds just generated directly with the queue service, no?

A few other notes:

1. Will the proxy form work for any method?
1. I suspect we would want to have configurable controls for different scopes here.  Some might require MFA on every access, some might allow cached MFA, some might only send notifications, and some might require a second-person sign-of

[2017-10-26 05:10] jonasfj commented on #98
Yes,

I suggest we don't. For important scopes we care about we want the most possible protection.
We can keep making more classes of scopes, this is just going to cause us pain.
 * Notification is another topic, probably tc-auth and audit-log related
 * Multiple sign-off is possible with something like: `sudo:<emailA>:sudo:<emailB>:<scope>`, if we want to use the form suggested (see below).

It w

[2017-10-26 07:11] jonasfj opened #99 "simplify scope management"
Right now we distinguish between permissions to create and update a role; and we do not have a way to let someone manage a scope.

This RFC proposes that we remove the distinction between `createRole` and `updateRole`, as well as `createClient` and `updateClient`; instead we just have `auth.declareRole` and `auth.declareClient` which only takes a description and expiration in case of client. These

[2017-10-26 20:23] djmitche commented on #99
Per in-person discussion: 👍

I looked over some service requests and this would cover them..

[2017-10-26 23:52] jonasfj commented on #98
okay, from my previous comment it looks a lot like this won't work...

@djmitche and I are playing with ideas for a different proposal.

[2017-10-26 23:52] #98 closed

[2017-10-27 00:16] djmitche commented on #98
Summarizing what we came up with, that *might* work, but we think it's not actually needed.

The `login.oidcCredentials` call would take optional `sudo` and `totpToken` arguments.  If those are present and validate for the user_id corresponding to the supplied access_token, then the sudo scopes are evaluated *if* they match a policy configured in the login service.

[2017-10-27 00:18] djmitche commented on #99
One possible advantage here: we could require sign-off by storing the grants in a separate table until they have a configured number of approvals.  How to distinguish N approvals from the same "person" from those from N "people" remains an open question (since clientId != person).

[2017-10-27 06:06] jonasfj opened #100 "taskcluster-totp for protecting high-risk scopes"
This might not be the sudo-like solution we're looking for. But it's simple and plausibly useful for protecting scopes where LDAP/auth0/duo isn't sufficient.

API
[code]

**Implementation details**, we do not need to store `deviceIds` or `totpSecrets` in the taskcluster-totp service. We simply store a single `SECRET_KEY` in the environment variables for the app.
When a new device is enrolled we us

[2017-10-27 07:52] jonasfj commented on #98
I just recognized another thing that's wrong with this design...
The format `sudo:<scope>` is rather bad...

A better design would be to let the scope `sudo:<roleId>` be transformed to `assume:sudo:<roleId>` by 2FA confirmation.

This way, when you search for a scope that is sudo protected in the scope-explorer, it'll show up under the sudo role it was given to. And finding out who can sudo into t

[2017-10-30 14:42] djmitche commented on #100
I'm still not sure exactly what problem we need to solve here.

As Travis pointed out, if we get into TOTP we'll need to think about revocation, too.  As you mention, this needs some manual setup (granting the totp:.. role).

[2017-10-30 14:44] djmitche commented on #98
Why not `sudo:<roleId>` -> `assume:<roleId>`?

[2017-10-30 18:16] jonasfj commented on #98
Because then sudo would need `assume:*`

Also this way when you lookup in scope explorer it'll show sudo in the list
of roles that has the scope...

On 30 Oct 2017 07.44, "Dustin J. Mitchell" <notifications@github.com> wrote:

[2017-11-01 19:21] djmitche commented on #74
@helfi92 want to do the honors of closing this?

[2017-11-01 19:22] #74 closed

[2017-11-01 19:42] gregarndt commented on #74
*boom* 💥  🎉

[2017-11-03 08:47] walac opened #101 "Towards more sane repository history"
Today, when we submit code changes as a PR, we (or only I, maybe) usually look for the whole patch set as one big diff. This approach brings some issues:
* Poor commit messages: it is common to find in our repos commits with just one comment line giving no real explanation of why that commit is needed, which issue it solves or why the author implemented it that way. It is very common to find commi

[2017-11-03 14:27] djmitche commented on #101
This is a conversation I often have with new contributors.  It's a bit of an "advanced" git skill to be able to put together a nice multi-commit PR.

I like all of your proposed solutions, although I'm not sure how best to accomplish the first.

For the third, I'd like a feature from Github that lets me edit the commit message for the squashed commit; I think right now it just concatenates all of

[2017-11-03 15:31] walac commented on #101
I miss that.

I think the time has come for me to write a blog post about git history editing tools. There was a lot of blog posts saying "do not edit your history", when they mean "do not edit public upstream history". I am going to start a PoC text to use a reference to interns and contributors.

[2017-11-06 14:12] edmorley commented on #101
I believe this is already possible? For the "squash and merge" feature, pressing the button exposes a textarea that allows for edits before the final merge.

[2017-11-06 14:15] djmitche commented on #101
mind, 💣 :)

[2017-11-07 14:10] djmitche commented on #97
Just to note, in https://public.etherpad-mozilla.org/p/jonasfj-hassan-talks-action#lineNumber=1 the url was changed from substituting ":provisionerId" etc, to using query parameters.

[2017-11-07 22:23] jhford commented on #97
that would require special endpoints to be implemented in different places.  We also agreed that query string parameters would only ever be used for Continuation Tokens and Limits around pagination.

How about we stick to doing `:param` substitution or something else which does not force use of query-strings.

[2017-11-08 02:57] djmitche commented on #97
I prefer that, too.

[2017-11-08 03:18] helfi92 commented on #97
I am okay with both options. If @jonasfj doesn't have any strong objections on that, I'll start working on it tomorrow.

[2017-11-08 18:49] jonasfj commented on #97
Okay, may I suggest we use `<parameter>` like we do in references.json
then... But yeah, okay... No objection...

On 7 Nov 2017 19.18, "Hassan Ali" <notifications@github.com> wrote:

[2017-11-08 22:35] jhford commented on #97
I agree that `<param>` will be a lot easier to do for substitution than `:param`

[2017-11-08 23:28] jhford commented on #97
https://github.com/taskcluster/taskcluster-rfcs/issues/88

Let's revisit my original proposal for the format of an action task.  Aside from the 'output' parameter, I think it really does have all the information needed to enable what needs to happen here.

[2017-11-09 00:17] jonasfj commented on #101
In theory kind of thing is awesome.

But it comes at a cost.
This will slow down new contributors, and it'll slow us down too. We rarely have multiple branches, we rarely need to bisect our repos. We don't often cherry-pick things around.

This kind of clean history is necessary for a project like gecko. Where bisect makes it possible to find commit causing issues. We could literally run the tests

[2017-11-09 00:21] edmorley commented on #101
For internal repos, yes. For Taskcluster client libraries currently it's a massive guess when updating to a new version, since it's not clear what may break / what has been deprecated etc. Anything that can increase confidence when updating would be great (whether that's this proposal or something else...).

[2017-11-09 00:37] jonasfj commented on #101
Fair point, we should probably keep a changelog for libraries that others depend on, notably tc-client

[2017-11-09 01:48] helfi92 commented on #97
@jhford Is there something bad about the final design we agreed on? Curious to know.

[2017-11-09 03:25] eliperelman commented on #101
If we are going to be more strict about what changes happen in a commit, we should try to ensure that semver is followed more vigorously, especially with client libraries.

[2017-11-09 06:20] walac commented on #101
It doesn't slow down contributors, it just has a steeper learning curve, with time following this becomes natural, in my experience. Learning to use git and write proper commits is just one more thing they will improve their career when becoming a Taskcluster contributor, assuming you are talking about the beginners that volunteer for improving their coding skills.

[2017-11-09 06:21] walac commented on #101
Proper versioning would be a follow-up step in this.

[2017-11-09 07:30] jhford commented on #97
no, nothing bad, but it's lacking important details which are present in #88.

[2017-11-09 15:03] helfi92 commented on #97
@jhford I guess we can add a `method` property to the action definition for now so that we don't need to change the endpoint in ec2-manager. Let's finish deploying what was decided and then open a new RFC to discuss changing the design.

[2017-11-09 20:35] djmitche commented on #101
We should have a CONTRIBUTING.md in all of our repos, and I think it would be good if it contained basically what @walac outlined in the first comment: all commits in a PR should pass tests; all should have good commit messages; and "Address xyz" commits should be avoided.

When we get contributions that don't meet this standard, we can make a choice between squashing the commits (and rewriting th

[2017-11-09 23:11] SamanthaYu commented on #101
I think this proposal's reasonable as long as CONTRIBUTING.md explains the process well with what Git commands to use. My commit history has been messy so these suggestions would definitely help clean it up.

Do any contributors have write access to the repos? For ec2-manager, we UCOSP students don't have write access so whoever approves and merges our PRs usually squashes our commits in the proce

[2017-11-13 14:29] jhford commented on #80
I have no further comments.  I'd still like to do this.

[2017-11-13 14:38] djmitche commented on #101
@SamanthaYu thanks for the feedback! Generally, no, contributors don't have write access, so enforcing this is up to those who do have write access.

@walac a few suggestions to modify the proposal, which you can take or ignore :)

 * Drop the bit about running CI on every push -- I think that will be hard to do, and probably not worth the effort
 * Keep the points about reviewing commit messages

[2017-11-13 14:41] djmitche commented on #70
@jhford do you want to update the description bsaed on the last few comments and see if there is any further input?  If not, we can move this to FCP and then get to implementing the changes in tc-lib-api.

[2017-11-13 14:54] djmitche commented on #49
@gregarndt what are your thoughts here?

[2017-11-13 15:00] djmitche commented on #96
Postgres is #65, btw

[2017-11-13 15:06] gregarndt commented on #49
Woah, sorry for missing this ping.  I'll put some thoughts in this morning.

[2017-11-13 15:16] gregarndt commented on #49
One thing I've learned recently is we have teams within Mozilla that are using redash to connect to postgres and perform some analytics.  I wonder if that would be good enough for here instead of reimplementing something.

 Some queries I perform regularly are:

\# of tasks scheduled/resolved over time
\# of tasks pending per worker type over time
\# of tasks per project/branch (I parse out some d

[2017-11-13 16:25] walac commented on #101
@djmitche  I will handle it after I deal with taskcluster-lib-artifact integration.

[2017-11-13 18:17] helfi92 commented on #101
@djmitche @walac I can help. I don't mind writing about how to create good commit messages. Let me know if you want to delegate this task to me.

[2017-11-13 18:29] walac commented on #101
@helfi92 feel free to pick it :)

[2017-11-13 21:46] helfi92 commented on #101
It’s totally fine to have strict rules for our team members but I think we need to be lenient with new contributors, who may not be as comfortable with Git. Rebasing, for example, can be a very daunting thing if you’ve never done it. We don't want that be a barrier to contributing to Taskcluster.

Few suggestions:
* We take care of fixing newcomers commit messages. Contributors can stop being cons

[2017-11-14 01:17] jonasfj commented on #101
If adding a `CONTRIBUTING.md` please consider making it a link to a single page in the wiki or something like that.. So we don't have to update all of these files :)

On topic: I still think this is overkill. git isn't a really intended as "version control system", it's groupware for collaboration.

I think it's better to enforce these things for tags/releases and write a changelog entry when crea

[2017-11-14 05:44] eliperelman commented on #101
_I'm going to be referencing Neutrino a few times here for inspiration and example, as it has been successful for us so far._

---

Using `cherry-pick` makes sense for branch work and `bisect` makes sense across the commits in a single branch. Trying to cherry pick across repos from a single commit from a multi-commit PR is asking for trouble. If PRs are squashed so they become atomic, this should

[2017-11-14 15:31] djmitche commented on #101
I'm confused by @jonasfj's comments.  I don't think anyone here is arguing for linear history, and I don't know what to make of the unsupported assertion that "git is not a version control system".  We're also not looking for a changelog from the git history.  If I understand the first comment, we want a commit history that provides useful context to the source, via `log`, `blame`, and `bisect`, a

[2017-11-14 15:44] walac commented on #101
I agree with @djmitche, having a good ChangeLog/ReleasesNotes and tagged version is not an excuse for messy commits. Not that we don't want that, it is just not the scope of this RFC. A quality patch isn't only about the code, and improving skills to create better commit messages is part of the learning experience many contributors seek when they join open source projects.

We will probably make m

[2017-11-14 15:50] eliperelman commented on #101
Quite the contrary; my point was that ensuring good commit messages will make the use of these tools way more useful in the future, as you can relate those good commit messages to a specific release, but yes, out of scope for this RFC.

[2017-11-14 15:54] walac commented on #101
Not sure if you are reinforcing my comment or thinking it was based on yours, but just in case, my comment is a reply to @jonasfj. Damnit, communicating through text messages is hard sometimes.

[2017-11-14 16:05] eliperelman commented on #101
@walac lol, I was reinforcing.

[2017-11-14 16:47] jonasfj commented on #101
This issues proposes a linear history with each commit addressing a specific issue and passing CI.
It very much suggests that we maintain a clean history similar to how gecko does.

Okay, that's perhaps a provacative statement :) hehe
But trying to make the point that git is not the right tool, if you want sequential version numbers.

---------

Some points:
 * Being able to merge branches, withou

[2017-11-14 16:59] edmorley commented on #101
Don't forget GitHub's new "rebase and merge" feature :-)

[2017-11-14 19:49] djmitche commented on #101
No, it proposes using better commit messages, and arranging commits such that they are meaningful for later investigation.  Nothing there (including bisecting) requires a linear history.

Gecko does encourage rebasing over merge commits for "project branches" (although it does merge between "projects / branches" like inbound and autoland), but discourages squashing.  We have the luxury of being ab

[2017-11-14 20:10] jonasfj commented on #101
Okay, I won't object to guidelines on:
 * how to write commit messages
 * squash "fix it" commits
 * fix CI when merging PRs

As long as it doesn't involve a lot of history rewriting :)

[2017-11-14 21:53] walac commented on #101
If that's a point of agreement in the team, it is, at very least, a good enough start point :)

[2017-11-14 22:12] djmitche commented on #101
In reviews I've seen of your code, @jonasfj, I have not seen commit histories that I would want you to rewrite.

[2017-11-20 18:08] imbstack commented on #23
Note from ongoing work: These new scopeset constructs (with the AnyOf and AllOf) are now called scope expressions. A list of scopes is said to "satisfy" a scope expression when the expression evaluates to true. The specifics of this means will be described more in detail later.

Question (for jonas/dustin/anybody): Do we think the scopes `[]` satisfy the scope expression `{}`? Do we think we shoul

[2017-11-20 18:42] djmitche commented on #23
It should be disallowed at a higher level (like, return a 400).  I think logically it would mean "anything", but at that point you shouldn't be calling the auth service (right?) so the auth service should reject such calls as invalid.

[2017-11-20 18:54] jonasfj commented on #23
No, scope expressions are on the form: `{allOf: [...]}` or `{anyOf:
[...]}`. Where `[...]` is a list of zero or more scopes, or
scope-expressions.

I don't think we should allow: `{}` nor should we allow: `{anyOf: [...],
allOf: [...]}` as these are confusing...

We do allow `{allOf: []}` which is satisfied by any set of scopes including
the empty set: `[]`.
We also allow `{anyOf: []}` which cannot

[2017-11-20 18:57] jonasfj commented on #23
Let me know if you find above definition unreasonable...

Note: I think we can enforce this with JSON schemas...
Granted @imbstack's docson alternative might need some love to handle recursion.

[2017-11-20 18:57] jonasfj commented on #23
@imbstack, the bare minimal for recursion, ie. detection and writing "..." should probably do...

[2017-11-21 01:21] jonasfj commented on #23
@imbstack
so the JSON schema would look like:
[code]

Obivously, it's still missing some descriptions... But this allows infinite nesting, and probably would cause issues for your docs generator (that's all I'm saying)...

[2017-11-22 01:10] helfi92 commented on #97
Completed. Closing now :)

[2017-11-22 01:10] #97 closed

[2017-11-23 20:42] helfi92 commented on #101
When there is a pull-request with multiple authors, I wonder if we should just let it be instead of squashing. Squashing will have all authors' attributions lost (except for the author of the last commit). This might discourage contributors from continuing to contribute.

[2017-11-24 10:48] walac commented on #101
That's the approach I take when this happens, I leave the commits as they are.

[2017-11-24 11:07] petemoore opened #102 "Provide a debug flag in .taskcluster.yml to aid troubleshooting"
Inspired by bug 1420242

Let's provide a debug option in `.taskcluster.yml` in github repositories that makes [taskcluster](https://github.com/apps/taskcluster) extra "chatty". When a task is _not_ triggered, e.g. because branch filtering prevents it, it can post a message against the commit / PR that explains why it did not trigger a task. This could also apply if the user doesn't have adequate p

[2017-11-24 11:09] petemoore commented on #102
CC @imbstack @djmitche

[2017-11-24 19:53] lundjordan commented on #91
Late to the party and final comment phase but it's US holiday and I'm ripping through my backlog today.

Two thoughts:

1. I ❤️ this rfc as well. It would solve a lot of integration and release problems that releng face. Great idea!

2. wrt the above change log idea, I think regardless if we define this configuration in-tree or not, it would be great to bubble up changes so releng and interested p

[2017-11-27 14:46] djmitche commented on #102
Sounds like a pretty straightforward feature request.  Let's re-open this if I'm wrong, but I don't think there's much need for comment or group decision-making here, so I just opened [a bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1420903).